.instance-pick_approve_users{
	.title{
		th{
			font-weight: bold;
			border: solid 1px #000000;
		}
		.step{
			text-align: center;
		}

		.approves{
			padding-left: 13px;
		}
	}
	.step-item{
		.td-step-approves{
			.form-group{
				margin-bottom: 0px;
				.control-label{
					display: none;
				}
			}
		}
	}

	.action{
		width: 50px;
		text-align: center;
	}

	.td-step-approves{
		background-color: rgba(255, 255, 0, 0.1) !important;

		.checkbox-inline{
			label{
				font-weight: 400;
			}
		}
	}

	.selectUser-box{
		line-height: 28px !important;
		border: none !important;
		background-color: inherit !important;
	}
}