.admin-flow-roles .role-help {
  position: relative;
  top: -1px;
}
.admin-flow-roles .role-help .ion {
  position: relative;
  top: 1px;
  font-size: 180%;
}
.admin-flow-roles .role-edit {
  margin-left: 15px;
}
.admin-flow-roles .role-remove {
  float: right;
}
