.admin-flows-roles-modal .datatable-flows-roles {
  border-color: #d2d6de;
  word-warp: break-word;
  word-break: break-all;
}
.admin-flows-roles-modal .datatable-flows-roles thead th {
  border-color: #eee;
  border-bottom-width: 1px;
  background-color: #f9f9f9;
}
.admin-flows-roles-modal .datatable-flows-roles tbody td {
  border-color: #eee;
}
.admin-flows-roles-modal .datatable-flows-roles tbody td .users-name {
  color: #333;
}
.admin-flows-roles-modal .datatable-flows-roles tbody td .org-fullname {
  color: #777;
}
.admin-flows-roles-modal .datatable-flows-roles tfoot td {
  border-color: #eee;
}
.admin-flows-roles-modal .datatable-flows-roles #copy {
  display: none;
}
.admin-flows-roles-modal .weui-media-box__desc.table-content {
  color: #333;
  font-size: 14px;
}
.admin-flows-roles-modal .admin-role-panel {
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table {
  border: none;
  box-shadow: none;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .panel-body {
  padding: 0 15px;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .panel-body label {
  padding-bottom: 5px !important;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .heading {
  overflow: hidden;
  padding-bottom: 10px;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .heading .col-sm-2 {
  padding: 0;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .heading .col-sm-12 {
  padding: 0;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table [data-required] label::after {
  content: ' *';
  color: red;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .panel-content .add-positions {
  cursor: pointer;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .panel-content .add-positions .ion {
  position: relative;
  top: 1px;
  margin-right: 6px;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .dataTables_wrapper .row:first-child {
  display: none;
}
.admin-flows-roles-modal .admin-role-panel .admin-role-table .dataTables_wrapper tbody tr {
  cursor: pointer;
}
