.cancel_distribute_modal table th {
  padding: 8px;
}
.cancel_distribute_modal .handler-name {
  cursor: pointer;
  font-weight: bold;
  width: 50%;
}
.cancel_distribute_modal .th-width {
  width: 10px;
}
.cancel_distribute_modal .table-header {
  background-color: #EEEEEE;
}
