.steedos-header-container .steedos-header-container-line-one{
    display: none !important;
}

.steedos .creator-content-wrapper{
    margin-top: 40px !important;
}

.steedos .creator-content-wrapper {
    height: calc(100% - 40px) !important;
}

.steedos .amis-routes-wrapper .sm\:mt-\[90px\] {
    margin-top: 40px !important;
}