.workflow-menu {
  width: 300px;
  left: 50%;
  margin-left: -150px;
  padding: 0px;
}
.workflow-menu .weui-navbar {
  bottom: 0;
  top: auto;
  display: block;
}
.workflow-menu .weui-navbar__item {
  cursor: pointer;
  padding: 8px 0;
}
.workflow-menu .weui-bar__item_on {
  background-color: #08C !important;
  color: #ffffff;
}
.workflow-menu-by-flow {
  overflow-y: auto;
}
.workflow-menu-by-flow .weui_cells_title {
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}
.workflow-menu-by-flow .weui_cells {
  margin-top: 0px;
}
.workflow-menu-by-flow .selected {
  background-color: #08C;
  color: #FFFFFF !important;
}
.workflow-menu-by-flow .active {
  color: #0078D7 !important;
}
