.authorize-form {
  float: none;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  min-width: 250px;
  overflow: hidden;
}
.authorize-form .logo-form {
  max-width: 350px;
}
.authorize-form .logo-form .logo {
  width: 100%;
}
.authorize-form .authorize-info-form {
  background: #FFF;
  border-radius: 6px;
  margin: 0 0 10px;
}
.authorize-form .authorize-info-form .app_info {
  padding: 10px 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px dotted #868686;
}
.authorize-form .authorize-info-form .app_info .app_intro > h3 {
  font-size: 20px;
  font-weight: 300;
}
.authorize-form .authorize-info-form .oa_list {
  text-align: left;
}
.authorize-form .authorize-info-form .oa_list .list_title {
  margin: 0 0 10px 10px;
  font-size: 16px;
}
.authorize-form .authorize-info-form .oa_list .list_title span {
  color: cornflowerblue;
}
.authorize-form .authorize-info-form .oa_list .oa_ul {
  margin: 0 0 0 20px;
}
.authorize-form .authorize-info-form .oa_list .oa_ul .oa_li {
  height: 31px;
  border: 1px;
  color: #666;
}
