.steedos-boolean-radios.form-control {
  border: none!important;
  font-size: 14px!important;
}

.steedos-boolean-radios.form-control:active{
  box-shadow: none!important;
}
.steedos-boolean-radios.form-control label input{
  margin-right: 4px;
}