.steedos.fixed.skin-blue-light {
	.slds-context-bar {
	    height: 50px;
		color: white;
	    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 9px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;
	    -webkit-transition: all 1s ease-in-out 0.5s;
	    transition: all 1s ease-in-out 0.5s;
	    border-bottom: 1px solid #000;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	    background: rgba(22, 84, 150, 0.84);

		.slds-context-bar__icon-action {
			color: white;
		}
		.steedos-creator-global-search {
			color: rgb(22, 50, 92);
			.slds-lookup__search-input {
				width: 280px;
			}
		}
	}

	.wrapper {
		background-color: white;

		.slds-template_bottom-magnet {
			padding: 0;
		}
	}

}


.slds-icon-waffle [class*="slds-r"] {
	background-color: white;
}