.flow_list_box_org a {
  cursor: pointer;
  color: #000;
}
.flow_list_box_org .box.box-success {
  overflow: hidden;
  box-shadow: 0 0px 0px;
}
.flow_list_box_org .weui-cell {
  padding: 6px 15px;
}
.flow_list_box_org .weui-cell .ion {
  font-size: 20px;
}
.flow_list_box_org .weui-cell.checked {
  background: #beebff;
}
.flow_list_box_org .form-subtitle {
  font-size: 16px;
  margin-bottom: 9px;
  margin-top: 9px;
}
.flow_list_box_org .box {
  box-shadow: none;
}
.flow_list_box_org .box .weui-cells {
  margin-top: 0px;
}
.flow_list_box_org .weui-cell__bd {
  cursor: pointer;
}
.flow_list_box_org .weui-cell__ft {
  cursor: pointer;
}
.flow_list_box_org .ion-ios-star {
  color: #f39c12;
}
