.instance-list {
  margin-top: 1px;
}
.instance-list .datatable-instances {
  border-right: none;
}
.instance-list .dataTables_paginate {
  float: right;
  width: 65%;
}
.instance-list .dataTables_length {
  float: left;
  width: 35%;
}
@media (max-width: 768px) {
  .instance-list .dataTables_paginate {
    width: 100%;
  }
}
.instance-list > div:nth-child(3) {
  overflow-x: auto;
}
.instance-list .dataTables_container {
  position: relative;
}
.instance-list .dataTables_container .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background: #fff;
}
.instance-list .dataTables_container .ps-container:hover > .ps-scrollbar-x-rail:hover {
  background: #ffffff;
}
.instance-list .dataTables_wrapper tbody tr td {
  position: relative;
}
.instance-list .flow-name {
  padding-left: 15px;
  width: 69%;
  color: #777;
}
.instance-list .dataTables_wrapper thead th:first-child {
  padding-left: 20px !important;
}
.instance-list .dataTables_wrapper thead th {
  white-space: nowrap;
  min-width: 115px;
}
.instance-list .dataTables_wrapper thead th:nth-child(3) {
  min-width: 115px;
}
.instance-list .color-priority {
  color: blue;
  display: none;
}
.instance-list .color-priority.instance-name {
  display: inline-block;
}
.instance-list .color-priority.color-priority-danger {
  color: red;
  display: inline-block;
}
.instance-list .color-priority.color-priority-warning {
  color: purple;
  display: inline-block;
}
.instance-list .color-priority.color-priority-muted {
  color: blue;
  display: inline-block;
}
.instance-list .step-current-state.terminated {
  color: gray;
}
.instance-list .step-current-state.approved {
  color: green;
}
.instance-list .step-current-state.rejected {
  color: red;
}
.instance-list .instance-priority-bar {
  position: absolute;
  width: 20px;
  left: 1px;
  top: 22px;
  bottom: 0px;
  line-height: 35px;
  text-align: center;
}
.instance-list .instance-name span {
  color: #333;
  display: inline-block;
  float: right;
  font-weight: normal;
  margin-right: 10px;
}
.instance-list .instance-name .color-priority {
  margin-left: 8px;
}
.instance-list .selected .instance-name span {
  color: #fff;
}
.instance-list .selected .instance-modified {
  color: #fff;
}
.instance-list .selected .flow-name {
  color: #fff;
}
.instance-list .instance-modified {
  color: #777;
}
.instance-list .selected .step-current-state {
  color: #fff;
}
.instance-list .instance-read-bar {
  position: absolute;
  width: 20px;
  left: 1px;
  top: 4px;
  bottom: 0px;
  line-height: 35px;
  text-align: center;
}
.instance-list .unread {
  color: #1f95ec;
  position: absolute;
  top: 9px;
  left: 5px;
  font-size: 90%;
}
.instance-list .instance-step-current-name {
  color: #999;
  font-weight: 400;
  padding-left: 5px;
  display: initial;
}
.instance-list .selected .instance-step-current-name {
  color: #fff;
}
.instance-list .toolbar {
  min-height: 51px;
}
.instance-list .search-tip-bar {
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}
.instance-list [aria-label='标题'],
.instance-list [aria-label='Title'] {
  min-width: 400px !important;
}
.instance-list th.flow-filter {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}
.instance-list th.flow-filter:after {
  font-family: "Ionicons";
  content: "\f31b";
  right: 0px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  opacity: 0.5;
}
.batch_instances_view {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  bottom: 120px;
  right: 20px;
}
.batch_instances_view button {
  z-index: 999;
  position: fixed;
  right: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  border: solid 1px #08C;
  outline: none!important;
  width: 57px;
  height: 57px;
  border-radius: 57px;
  font-size: 16px;
}
.instance-list-wrapper .tabular-filter-by-flow {
  margin-right: 5px;
}
.instance-list-wrapper .tabular-filter-by-flow .caret {
  margin-left: 5px;
}
.instance-list-wrapper .search-tip-bar .label {
  margin-right: 5px;
  border-radius: 0px;
  font-size: 12px;
}
.instance-list-wrapper .search-tip-bar .breadcrumb {
  display: inline-block;
  margin-bottom: 0px;
  padding: 0px;
  background-color: #fff;
}
#instance_more_search_modal .submit-date-icon {
  border-right: none;
}
#instance_more_search_modal .submit_date_end {
  padding-top: 5px;
}
.instance-priority-danger .td-field-文件标题 .form-group {
  color: red !important;
}
.instance-priority-danger input[name="文件标题"] {
  color: red !important;
}
.instance-priority-warning .td-field-文件标题 .form-group {
  color: purple !important;
}
.instance-priority-warning input[name="文件标题"] {
  color: purple !important;
}
.instance-priority-muted .td-field-文件标题 .form-group {
  color: blue !important;
}
.instance-priority-muted input[name="文件标题"] {
  color: blue !important;
}
.instance-list-wrapper .slds-page-header--object-home {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 100px;
}
@media (max-width: 768px) {
  .instance-list-wrapper .slds-page-header--object-home {
    height: 65px;
  }
}
.instance-list-wrapper .slds-page-header--object-home .slds-media__figure {
  margin-top: -2px;
}
.instance-list-wrapper .slds-page-header--object-home .dropdown-workflow-menu-by-flow {
  width: 140%;
}
.instance-list-wrapper .slds-page-header--object-home .dropdown-workflow-menu-by-flow ul {
  background: #fff!important;
}
.instance-list-wrapper .slds-page-header--object-home .slds-button {
  cursor: pointer;
}
.instance-list-wrapper .instance-list table.dataTable thead .sorting_asc:after {
  font: 14px/1 DXIcons;
  content: "\f051";
  opacity: 0.6;
  bottom: 10px;
}
.instance-list-wrapper .instance-list table.dataTable thead .sorting_desc:after {
  font: 14px/1 DXIcons;
  content: "\f052";
  opacity: 0.6;
  bottom: 10px;
}
.instance-list-wrapper .instance-list table.dataTable thead .sorting:after {
  font: 14px/1 DXIcons;
  content: "\f055";
  opacity: 0;
  bottom: 10px;
}
