.related_instances_modal .modal-body {
  min-height: 300px;
}
.related_instances_modal .selectize-control.multi .selectize-input [data-value] {
  color: #FFFFFF;
}
.related_instances_modal .instance-state-group {
  line-height: 34px;
}
.related_instances_modal .radio-inline input {
  line-height: 34px;
  height: 34px;
  margin-top: 0;
}
.related_instances_modal .related_instances_list_search_btn {
  cursor: pointer;
}
.related_instances_modal .pull-right {
  padding-left: 15px;
}
.related_instances_modal tbody tr {
  cursor: pointer;
}
.related_instances_modal th:not(:first-child) {
  min-width: 60px;
}
.related_instances_modal .box-tools {
  width: 35%;
}
.related-instances .title {
  padding: 6px 0px 0px 0px;
}
.instance .related-instances {
  padding-left: 0px;
  padding-right: 15px;
}
