
.btn-instance-submit .record-edit-text{
    color: #ffffff;
}
.btn-instance-submit .record-edit-text:hover{
    color: #ffffff;
}
.btn-instance-submit .record-edit-text:focus{
    color: #ffffff;
}

.relative {
    position: relative!important;
}
.flex-1 {
    flex: 1 1 0%!important;
}

.flex-col {
    flex-direction: column!important;
}
.flex {
    display: flex!important;
}

/* 修复全局样式.collapse引起的 日期时间选择异常问题 */
.bootstrap-datetimepicker-widget .collapse{
    visibility: visible !important;
}

/*申请单中使用 旧版中的 inline-block样式 */
.instance-wrapper .instance-form .inline-block{
    display: block !important;
}