
.btn-instance-submit .record-edit-text{
    color: #ffffff;
}
.btn-instance-submit .record-edit-text:hover{
    color: #ffffff;
}
.btn-instance-submit .record-edit-text:focus{
    color: #ffffff;
}

.relative {
    position: relative!important;
}
.flex-1 {
    flex: 1 1 0%!important;
}

.flex-col {
    flex-direction: column!important;
}
.flex {
    display: flex!important;
}

/* 修复全局样式.collapse引起的 日期时间选择异常问题 */
.bootstrap-datetimepicker-widget .collapse{
    visibility: visible !important;
}

/* 增加旧表单设计器的宽度 */
.flow-modal .modal-lg{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.flow-modal .modal-lg .slds-modal__container{
    width: 90% !important;
    max-width: 90% !important;
    min-width: 90% !important;
}

/*申请单中使用 旧版中的 inline-block样式 */
.instance-wrapper .instance-form .inline-block{
    display: block !important;
}

.instance-print .instance-form .inline-block{
    display: block !important;
}

.instance-box-tree .antd-TreeControl{
    padding: 15px 0;
}
/* .instance-box-tree .antd-TreeControl{
    padding: 0;
    border-bottom: 0px;
    border-radius: 0px;
    border-right: 0px;
    max-height: 100%;
    padding-top: 8px;
    padding-left: 4px;
}
.instance-box-tree .antd-Tree {
    max-height: 100%;
}
.instance-box-tree .antd-Tree-itemLabel{
    padding-left: 0;
}

.instance-box-tree .antd-Tree-itemLabel-item{
    padding-left: 0;
}
.instance-box-tree .antd-Tree-itemArrow{
    margin-right: 0;
}
.instance-box-tree .antd-Tree-itemIcon{
    margin-right: 4px;
} */
.instance-box-tree  .antd-Badge-text{
    background: #D3D6DD;
}
.instance-box-tree .antd-Tree-item:nth-child(1) .antd-Badge-text{
    background: #DF4D46;
}
/* .instance-box-tree .antd-Tree-itemLabel-item{
    height: 1.6rem;
} */
.instance-box-tree .antd-TplField span{
    width: 85%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.instance-box-tree .antd-Tree-itemText{
    margin: auto;
}


.steedos-table-modal-body{
    display: initial !important;
}

.instance-trace-detail-modal .modal-body{
    display: initial !important;
}

.instance-box-tree .antd-Tree{
    max-height: 100% !important;
}

.instance-box-tree .antd-TreeControl{
    border: none !important;
}

.instance-box-tree .antd-Tree-item .is-checked{
    background-color: rgba(21,137,238,.1);
}

.instance-box-tree .antd-Tree-item .is-checked .antd-Tree-itemLabel-item{
    background-color: unset;
}



.steedos-instance-wrapper input[disabled], input:disabled, input.disabled, input.is-disabled {
    -webkit-text-fill-color: inherit !important;
}


.instance-trace-detail-modal .weui-input{
    color: #777;
}

tbody .color-priority-danger *{
    color: red !important;
}

tbody .color-priority-warning *{
    color: purple !important;
}

tbody .color-priority-muted *{
    color: blue !important;
}

.instance-tasks-list .unread-instance .antd-Table-checkCell {
    position: relative
}

/* PC端未读列表蓝色圆点 */
.instance-tasks-list .unread-instance .antd-Table-checkCell:before {
    content: " ";
    position: absolute;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: #1890ff;
    border-radius: 6px;
    top: 50%;
    margin-top: -6px;
}

.instance-tasks-list .unread-instance .steedos-listview-item {
    position: relative
}

/* 手机端未读列表蓝色圆点 */
.instance-tasks-list .unread-instance .steedos-listview-item:before {
    content: " ";
    position: absolute;
    left: -5px;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border-radius: 4px;
    top: 10px;
}

#instanceAmisView fieldset{
    width: 100%;
}


#serverList{
    display: none !important;
}

.instance-suggestion{
    background: #ffffff !important;
}

.instance .form-group select.form-control{
    height: 34px;
}



.af-steedos-field .antd-FileControl-dropzone.disabled{
    display: none;
}

.af-steedos-field .antd-ImageControl-addBtn.is-disabled{
    display: none;
}

#instanceform .antd-ImageControl-item{
    border: none;
    padding: 0px;
    margin-bottom: 6px;
    margin-right: 6px;
}


.instance-print #instanceAmisView .antd-Table-placeholder{
    display: none;
}

.instance-print #instanceAmisView .antd-Table-table > thead > tr{
    border-bottom: none;
}

.instance-print #instanceAmisView .antd-Table-table > thead > tr > th{
    background: #ffffff;
    border-color: #000000;
    border-bottom: none;
    padding-left: 4px;
    padding-right: 4px;
}


.instance-print #instanceAmisView .antd-Table-table td {
    border-bottom: #000000 1px solid;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.instance-print #instanceAmisView .antd-Table-table tr:last-child td {
    border-bottom: none;
   }

.instance-print #instanceAmisView .antd-Table-table > thead > tr:not(:last-child) {
    border-bottom: #000000 1px solid;
}

.instance-print #instanceAmisView .antd-Table-table > tbody > tr:last-child {
    border-bottom: none;
}

.instance-print #instanceAmisView .antd-Table-table > tbody > tr > td:not(:last-child) {
    border-right: #000000 1px solid;
}

.instance-print #instanceAmisView .antd-Table-table > tbody > tr:first-child {
    border-top: #000000 1px solid;
}

.instance-print #instanceAmisView .antd-Table-table > tbody > tr:not(:last-child) {
    border-bottom: #000000 1px solid;
}

.instance-print #instanceAmisView .steedos-field-section{
    font-weight: 700;
    font-size: 15px;
}

.instance-print #instanceAmisView .antd-Table {
    margin-bottom: 0px;
}

.instance-print #instanceAmisView .antd-Table-table > thead > tr > th:first-child {
    text-align: center;
}

.instance-print #instanceAmisView .antd-Table-table > tbody > tr > td:first-child {
    text-align: center;
}

.instance-print #instanceAmisView .antd-Form-item {
    padding: 0px !important;
}

/* 平台内的table表头都变成了无边框，审批王内的打印需要边框 */
.instance-print #instanceAmisView .antd-Table-table thead > tr > th {
    border-right: var(--Table-thead-borderWidth) solid #000000;
}

/* 最后一列不需要边框 */
.instance-print #instanceAmisView .antd-Table-table thead > tr > th:last-child {
    border-right: none;
}

/* 实际的打印中service层未撑满 */
@media print {
    .instance-print #instanceAmisView .steedos-input-table>.antd-Service {
        width: 100%;
    }
}

/* 审批王的打印中的td需要换行，否则会撑出页面 */
.instance-print #instanceAmisView .antd-Table-table tbody > tr > td{
    white-space: normal;
}

/* 统一审批详细页的amisbutton样式 */
.instance-wrapper .instance-left-buttons .slds-button-group .steedos-amis-button button.antd-Button{
    padding: 0;
    margin: 0;
    color: #1890ff;
}
.instance-wrapper .instance-left-buttons .slds-button-group .steedos-amis-button button.antd-Button:hover{
    color: #40a9ff
}


@media (max-width: 768px){
    /* 审批单详细页手机端附件预览按钮样式 */
    .instance-wrapper .instance_attachments .steedos-amis-button-instance-preview li.steedos-amis-button{
        width: -webkit-fill-available;
    }
}

/* amis 弹出窗口，包括弹出drawer中的审批单详细界面不显示左上角返回按钮 */
.amis-dialog-widget .instance-detail-service-wrapper .btn-instance-back{
    display: none;
}


.instance-table .inbox{
    width: auto !important;
    height: auto !important;
    display: block;
    box-shadow: none;
}