**/.DS_Store
**/.idea

**/node_modules
**/package-lock.json

**/npm-error.log
**/yarn-error.log
**/lerna-debug.log

**/lib

**/.vscode/launch.*

**/yarn.lock
settings.yml


lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
packages/objectql/test/**/*.db
packages/objectql/test/**/*.db-journal
packages/odata-v4-typeorm/
