**/.DS_Store
**/.idea

/packages/**/node_modules
/apps/**/node_modules
/apps/contracts
/server/node_modules
/node_modules

**/package-lock.json

**/npm-error.log
**/yarn-error.log
**/lerna-debug.log

/packages/**/lib

**/.vscode/launch.*

settings.yml


lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/node_modules
website/i18n/*
packages/objectql/test/**/*.db
packages/objectql/test/**/*.db-journal
packages/odata-v4-typeorm/

.migrate
.history/*
apps/contracts/.env.local
apps/contracts/storage/**

.yalc
**/.yalc
**/yalc.lock
yalc.lock
packages/project-template-empty/.env.local
apps/contracts/src/_test/**
packages/accounts/webapp/build/**
packages/react/.env.local
