/* @tailwind base; */

.container {
  width: 100%
}

.\!container {
  width: 100% !important
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }

  .\!container {
    max-width: 640px !important
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }

  .\!container {
    max-width: 768px !important
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }

  .\!container {
    max-width: 1024px !important
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }

  .\!container {
    max-width: 1280px !important
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }

  .\!container {
    max-width: 1536px !important
  }
}

body.steedos .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

body.steedos .visible {
  visibility: visible
}

body.steedos .invisible {
  visibility: hidden
}

body.steedos .collapse {
  visibility: collapse
}

body.steedos .static {
  position: static
}

body.steedos .fixed {
  position: fixed
}

body.steedos .absolute {
  position: absolute
}

body.steedos .relative {
  position: relative
}

body.steedos .\!relative {
  position: relative !important
}

body.steedos .sticky {
  position: sticky
}

body.steedos .inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

body.steedos .top-0 {
  top: 0px
}

body.steedos .right-0 {
  right: 0px
}

body.steedos .z-40 {
  z-index: 40
}

body.steedos .col-span-2 {
  grid-column: span 2 / span 2
}

body.steedos .float-left {
  float: left
}

body.steedos .m-0 {
  margin: 0px
}

body.steedos .m-1 {
  margin: 0.25rem
}

body.steedos .my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

body.steedos .mr-3 {
  margin-right: 0.75rem
}

body.steedos .ml-1 {
  margin-left: 0.25rem
}

body.steedos .mt-0 {
  margin-top: 0px
}

body.steedos .ml-3 {
  margin-left: 0.75rem
}

body.steedos .mr-1 {
  margin-right: 0.25rem
}

body.steedos .ml-2 {
  margin-left: 0.5rem
}

body.steedos .mt-0\.5 {
  margin-top: 0.125rem
}

body.steedos .-mt-3 {
  margin-top: -0.75rem
}

body.steedos .block {
  display: block
}

body.steedos .inline-block {
  display: inline-block
}

body.steedos .inline {
  display: inline
}

body.steedos .flex {
  display: flex
}

body.steedos .inline-flex {
  display: inline-flex
}

body.steedos .table {
  display: table
}

body.steedos .\!table {
  display: table !important
}

body.steedos .grid {
  display: grid
}

body.steedos .\!grid {
  display: grid !important
}

body.steedos .contents {
  display: contents
}

body.steedos .hidden {
  display: none
}

body.steedos .h-full {
  height: 100%
}

body.steedos .h-screen {
  height: 100vh
}

body.steedos .h-10 {
  height: 2.5rem
}

body.steedos .h-6 {
  height: 1.5rem
}

body.steedos .h-12 {
  height: 3rem
}

body.steedos .w-full {
  width: 100%
}

body.steedos .w-auto {
  width: auto
}

body.steedos .w-14 {
  width: 3.5rem
}

body.steedos .w-12 {
  width: 3rem
}

body.steedos .w-6 {
  width: 1.5rem
}

body.steedos .w-10 {
  width: 2.5rem
}

body.steedos .min-w-max {
  min-width: -moz-max-content;
  min-width: max-content
}

body.steedos .max-w-xs {
  max-width: 20rem
}

body.steedos .flex-none {
  flex: none
}

body.steedos .flex-1 {
  flex: 1 1 0%
}

body.steedos .flex-shrink-0 {
  flex-shrink: 0
}

body.steedos .shrink {
  flex-shrink: 1
}

body.steedos .grow {
  flex-grow: 1
}

body.steedos .border-collapse {
  border-collapse: collapse
}

body.steedos .transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

body.steedos .cursor-pointer {
  cursor: pointer
}

body.steedos .select-all {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all
}

body.steedos .resize {
  resize: both
}

body.steedos .grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

body.steedos .flex-col {
  flex-direction: column
}

body.steedos .items-center {
  align-items: center
}

body.steedos .justify-center {
  justify-content: center
}

body.steedos .justify-between {
  justify-content: space-between
}

body.steedos .gap-8 {
  gap: 2rem
}

body.steedos .space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

body.steedos .overflow-auto {
  overflow: auto
}

body.steedos .overflow-hidden {
  overflow: hidden
}

body.steedos .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

body.steedos .rounded-md {
  border-radius: 0.375rem
}

body.steedos .rounded-full {
  border-radius: 9999px
}

body.steedos .rounded {
  border-radius: 0.25rem
}

body.steedos .border {
  border-width: 1px
}

body.steedos .border-0 {
  border-width: 0px
}

body.steedos .border-t {
  border-top-width: 1px
}

body.steedos .border-b {
  border-bottom-width: 1px
}

body.steedos .border-t-0 {
  border-top-width: 0px
}

body.steedos .border-solid {
  border-style: solid
}

body.steedos .border-none {
  border-style: none
}

body.steedos .border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

body.steedos .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

body.steedos .bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

body.steedos .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

body.steedos .bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

body.steedos .bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

body.steedos .p-1 {
  padding: 0.25rem
}

body.steedos .p-0 {
  padding: 0px
}

body.steedos .p-4 {
  padding: 1rem
}

body.steedos .px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

body.steedos .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

body.steedos .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

body.steedos .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

body.steedos .px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem
}

body.steedos .py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

body.steedos .py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

body.steedos .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

body.steedos .px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

body.steedos .pt-5 {
  padding-top: 1.25rem
}

body.steedos .pb-4 {
  padding-bottom: 1rem
}

body.steedos .pl-1\.5 {
  padding-left: 0.375rem
}

body.steedos .pl-1 {
  padding-left: 0.25rem
}

body.steedos .text-left {
  text-align: left
}

body.steedos .text-center {
  text-align: center
}

body.steedos .text-sm {
  font-size: 12px
}

body.steedos .text-base {
  font-size: 14px
}

body.steedos .text-xs {
  font-size: 12px
}

body.steedos .font-semibold {
  font-weight: 600
}

body.steedos .font-medium {
  font-weight: 500
}

body.steedos .uppercase {
  text-transform: uppercase
}

body.steedos .lowercase {
  text-transform: lowercase
}

body.steedos .capitalize {
  text-transform: capitalize
}

body.steedos .italic {
  font-style: italic
}

body.steedos .ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

body.steedos .leading-4 {
  line-height: 1rem
}

body.steedos .leading-6 {
  line-height: 1.5rem
}

body.steedos .leading-none {
  line-height: 1
}

body.steedos .tracking-wider {
  letter-spacing: 0.05em
}

body.steedos .text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

body.steedos .text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

body.steedos .text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

body.steedos .text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

body.steedos .text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity))
}

body.steedos .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

body.steedos .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

body.steedos .underline {
  text-decoration-line: underline
}

body.steedos .no-underline {
  text-decoration-line: none
}

body.steedos .opacity-75 {
  opacity: 0.75
}

body.steedos .shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

body.steedos .outline {
  outline-style: solid
}

body.steedos .blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

body.steedos .invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

body.steedos .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

body.steedos .\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

body.steedos .transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

body.steedos .duration-150 {
  transition-duration: 150ms
}

body.steedos .ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

body.steedos .ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

body.steedos .hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

body.steedos .hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

body.steedos .focus\:bg-gray-100:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

body.steedos .focus\:bg-gray-600:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

body.steedos .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}
