#admin_menu .admin-menu-content .user-info .weui-media-box__desc {
  margin-top: 10px;
}
#admin_menu .admin-menu-content .user-info .weui-media-box__hd {
  overflow: hidden;
  background-size: cover !important;
  background-position: center center !important;
}
#admin_menu .admin-menu-content .weui-cells .space-name {
  color: #999999;
  font-size: 15px;
}
#admin_menu .admin-menu-content .weui-cells .log-out {
  text-align: center;
  color: #F43530;
}
#admin_menu .admin-menu-content .weui-cell__hd {
  margin-right: 15px;
  color: #2196f3;
  position: relative;
  width: 23px;
  height: 23px;
}
#admin_menu .admin-menu-content .weui-cell__hd .ion {
  position: absolute;
  top: 1px;
}
