.accounts-admin-register-wrapper {
  background: #fff;
  border-radius: 6px;
  padding: 0px;
  width: 400px;
}
.accounts-admin-register-wrapper .page__title {
  text-align: center;
}
@media (max-width: 767px) {
  .accounts-admin-register-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: auto!important;
    border-radius: 0px;
    overflow-y: auto;
    background: transparent;
  }
  .accounts-admin-register-wrapper .accounts-admin-register-content {
    background: #fff;
    padding: 2px 0px;
    border-radius: 6px;
    margin: 20px;
  }
  .accounts-admin-register-wrapper .page__hd .page__title {
    font-size: 24px;
  }
  .accounts-admin-register-wrapper .page__bd .weui-cell .weui-cell__hd {
    display: none;
  }
}
.accounts-admin-register-wrapper .page__hd {
  padding: 0 15px;
}
.accounts-admin-register-wrapper .page__hd h1 {
  font-weight: bold;
  font-family: Helvetica, Arial, Microsoft Yahei, SimHei;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
}
.accounts-admin-register-wrapper .page__bd {
  margin-bottom: 20px;
}
.accounts-admin-register-wrapper .page__bd .weui-cells__title:not(:first-child) {
  margin-top: 20px;
}
.accounts-admin-register-wrapper .weui-label {
  display: none;
  margin-bottom: 0px;
  font-weight: normal;
  width: 140px;
}
.locale-zh-cn .accounts-admin-register-wrapper .weui-label {
  width: 125px;
}
.accounts-admin-register-wrapper .weui-input {
  font-size: 16px;
}
.accounts-admin-register-wrapper .weui-input:-ms-input-placeholder {
  font-size: 16px;
}
.accounts-admin-register-wrapper .weui-input::-webkit-input-placeholder {
  font-size: 16px;
}
.accounts-admin-register-wrapper .weui-input::-moz-placeholder {
  font-size: 16px;
}
.accounts-admin-register-wrapper .weui-input::placeholder {
  font-size: 16px;
}
.accounts-admin-register-wrapper .weui-btn-area .signin-link {
  text-align: center;
  margin: 10px;
  font-size: 15px;
}
.accounts-admin-register-wrapper .weui-btn-area .signin-link a {
  margin-left: 6px;
}
