**/bin/**
**/build/*
**/node_modules/*
**/tmp/*
**/.npm/*

.build

.meteor/local
.meteor/meteorite


/settings.json
.idea/**
start.bat
.vscode/*
.dist/*
.steedos/*
.steedos
package-lock.json
my_start.bat
yarn-error.log
.dist/yarn.lock
.plugins
