**/bin/**
**/build/*
**/node_modules/*
**/tmp/*
**/.npm/*

.build

.meteor/local
.meteor/meteorite


/settings.json
.idea/**
start.bat
.vscode/*
.dist/*
.steedos/*
.steedos
my_start.bat
yarn-error.log
.dist/yarn.lock
.plugins
package-lock.json

.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.history/*
.yalc
yalc.lock