/* 由用户自定义 */
html {
	background: unset;
}

body {
  background: rgb(225, 239, 254);
}

.slds-page-header {
  background: rgb(248, 250, 252);
}

.slds-button__icon {
  display: inline;
}

.slds-global-header_container{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.slds-tabs_card, .slds-tabs_card.slds-tabs_card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  border-width: 0;
}

.slds-illustration__svg {
  display: inline !important;
}

/* 隐藏左侧 ‘关于’ 菜单 */
.creator-content-wrapper .split-left .dx-treeview-node-container li[data-item-id=about]{
  display: none;
}

/*
2.3版本升级@steedos-builder/react到版本0.2.37以锁定monaco-editor@0.33.0版本后顶部导航ul位置显示异常（2.2没有这个问题）
因为saleforce的ul样式被antd的global.less覆盖了
*/
.steedos ul{
  margin: 0;
}