/* 由用户自定义 */
html {
	background: unset;
}

.slds-page-header {
  background: rgb(248, 250, 252);
}

.slds-button__icon {
  display: inline;
}

.slds-global-header_container{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.slds-tabs_card, .slds-tabs_card.slds-tabs_card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  border-width: 0;
}

.slds-illustration__svg {
  display: inline !important;
}

/* 隐藏左侧 ‘关于’ 菜单 */
.creator-content-wrapper .split-left .dx-treeview-node-container li[data-item-id=about]{
  display: none;
}

/* :root {
  --body-bg: rgb(225, 239, 254);
} */

@media only screen and (max-width: 768px) {
  :root {
      --body-bg: white;
  }
}

body {
  background: var(--body-bg);
}

.creator-content-wrapper {
  overflow: auto !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 90px;
}

@media only screen and (max-width: 768px) {
  .creator-content-wrapper {
    margin-top: 50px;
    margin-bottom: 4rem;
  }
}

.antd-Form-item.form-control {
  height: auto;
}

.zoom-large {
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  zoom: 117% !important;
}

.zoom-extra-large {
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  zoom: 135% !important;
}

body.steedos {
  /*此样式可能造成ios17系统的iphone svg显示不出来，移除就好了*/
  -webkit-overflow-scrolling: unset;
}

/* fix A标签在ios safari上点击后字体会变小再变大，包括列表页面名称字段，审批王详细页面顶部操作按钮等 */
@media (max-width: 768px) {
  a {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    font-size: inherit;
    line-height: inherit;
    padding: inherit;
  }

  a:active,
  a:hover,
  a:focus {
    font-size: inherit;
  }

  .slds-button a {
    font-size: inherit;
  }
}
