#app_object_menu .creator-sidebar-left .sidebar--left {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  width: 100% !important;
  z-index: 222;
}
#app_object_menu .creator-sidebar-left .sidebar--left .icon__globe {
  opacity: 1;
}
#app_object_menu .creator-sidebar-left .sidebar--left .nav-pills__container li .sidebar-item {
  color: #ffffff;
}
