.steedos-creator-global-search .slds-lookup__list {
  max-height: calc(41.5rem);
  overflow-y: auto;
}
.steedos-creator-global-search .slds-lookup__search-input {
  width: 380px;
}
.steedos-creator-global-search .slds-lookup__item-action_label,
.steedos-creator-global-search .slds-lookup__item-action--label {
  padding: 0.5rem 0rem;
}
.slds-global-header__item--search .slds-lookup__item-action_label {
  padding: 0.5rem 0;
}
