.steedos .slds-global-header_container {
  z-index: 1000;
  background: #ffffff;
  border-bottom: 0;
  -webkit-transition: all 1s ease-in-out 0.5s;
          transition: all 1s ease-in-out 0.5s;
}
.steedos .slds-global-header {
  background: transparent;
  box-shadow: none;
}
.steedos .slds-global-header .slds-global-header__item--logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.steedos .slds-global-header .slds-global-header__item--logo .slds-global-header__logo {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  border-radius: 3px;
  background: white;
}
.steedos .slds-global-header .slds-global-header__item--logo .slds-global-header__logo img {
  width: 36px;
  height: 36px;
}
.steedos .slds-global-header .slds-global-header__item--logo .slds-global-header__text {
  font-size: 18px;
  line-height: 36px;
  padding-left: 10px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20rem;
}
@media (max-width: 1024px) {
  .steedos .slds-global-header .slds-global-header__item--logo .slds-global-header__text {
    min-width: 10rem;
  }
}
.steedos .slds-global-header .slds-global-header__item--search {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 0;
      -ms-flex: 0 1 0;
          flex: 0 1 0;
  min-width: 33.5rem;
}
@media (max-width: 1024px) {
  .steedos .slds-global-header .slds-global-header__item--search {
    min-width: 20rem;
  }
}
.steedos .slds-context-bar {
  background: transparent;
  padding: 0px 0px 0px 1rem;
  border-bottom: 2px solid #00a1df;
  color: #080707;
}
.steedos .slds-context-bar a {
  text-decoration: none !important;
}
.steedos .slds-context-bar .slds-context-bar__app-name {
  font-weight: inherit;
}
.steedos .slds-context-bar .slds-context-bar__primary,
.steedos .slds-context-bar .slds-context-bar__secondary,
.steedos .slds-context-bar .slds-context-bar__tertiary {
  height: 2.5rem;
}
.steedos .slds-context-bar .slds-context-bar__item:not(.slds-no-hover):hover:after {
  bottom: auto;
  top: 0;
}
.steedos .slds-context-bar .slds-context-bar__item.slds-is-active:before {
  background: #00a1df;
}
.steedos .slds-context-bar .slds-context-bar__item .slds-notification-badge {
  top: .2rem;
  right: .2rem;
}
.steedos .steedos-header-favorites #header-favorites-popover-id-dialog-body {
  max-height: 420px;
  overflow-y: auto;
}
