
.steedos {

    --body-bg: var(--color-gray-50);
    --body-color: var(--color-gray-900);
    --body-size: 14px;
    --link-color: var(--colors-link-4);
    --link-onHover-color: var(--colors-link-6);
    --link-onClick-color: var(--colors-link-5);
    --Page-main-bg: transparent;
    --Form-mode-default-labelGap: 2px;
    --Form-item-fontSize: 12px;
    --Form-item-fontColor: rgb(68, 68, 68);
    --Form-fontSize: 14px;
    --Form-selectValue-fontSize: 14px;
    --Form-item-gap: 0.75rem;
    --Form-select-outer-boxShadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 4px 8px;
    --Form-select-outer-borderWidth: 0;
    --Table-borderColor: #e5e7eb;
    --Table-borderWidth: 1px;
    --Table-fontSize: 13px;
    --Table-fixedRight-boxShadow: none;
    --Table-thead-color: var(--color-gray-600);
    --Table-thead-fontSize: 12px;
    --Table-thead-bg: white;
    --Table-thead-borderColor: var(--Table-borderColor);
    --Table-toolbar-marginY: 0;
    --Table-thead-borderWidth: 1px;
    --Table-bg: white;
    --TableCell--edge-paddingX: 1rem;
    --TableCell-paddingY: 0.4rem;
    --TableCell-paddingX: 0.5rem;
    --TableCell--edge-paddingX: 0.5rem;
    --text--muted-color: #d9dcde;
    --Collapse-header-padding: 0px;
    --Collapse-content-fontSize: 14px;
    --Collapse-border: 0;
    --Collapse-header-fontSize: 16px;
    --Collapse-header-fontWeight: 400;
    --Collapse-header-onHover-bg: #EEEEEE;
    --Collapse-header-padding: 4px;
    --Collapse-content-padding: 4px;
    --collapse-default-bg-color: unset;
    --Button-height: 2rem;
    --Button-paddingX: 16px;
    --button-size-default-top-right-border-radius: 0.25rem;
    --button-size-default-top-left-border-radius: 0.25rem;
    --button-size-default-bottom-right-border-radius: 0.25rem;
    --button-size-default-bottom-left-border-radius: 0.25rem;
    --button-size-default-marginRight: 4px;

    --button-light-default-bg-color: transparent;
    --button-light-default-top-border-color: transparent;
    --button-light-default-bottom-border-color: transparent;
    --button-light-default-left-border-color: transparent;
    --button-light-default-right-border-color: transparent;
    
    --button-default-default-bg-color: white;
    /* --button-default-hover-bg-color: rgb(245, 245, 245); */
    --button-default-default-top-border-color: rgb(224, 224, 224);
    --button-default-default-bottom-border-color: rgb(224, 224, 224);
    --button-default-default-left-border-color: rgb(224, 224, 224);
    --button-default-default-right-border-color: rgb(224, 224, 224);

    /* --button-default-default-font-color: rgb(1, 118, 211); */
    --button-enhance-default-bg-color: white;
    --Crud-toolbar-gap: 2px;
    /* --DropDown-caret-marginLeft: 0; */
    --Tabs--vertical-width: 180px;
    --Tabs--vertical-bg: white;
    --Tabs-link-maxWidth: 180px;
    --Tabs-content-bg: unset;
    --drawer-content-paddingTop: 0;
    --fieldSet-legend-fontWeight: 600;
    --fieldSet-legend-marginTop: 1rem;
    --fieldSet-legend-marginBottom: 1rem;
    --DropDown-caret-marginLeft: 0.25rem;
    --DropDown-menu-boxShadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 4px 8px;
    --boxShadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 4px 8px;
    --common-popover-border: none;

    /* --SearchBox-search-icon-color: var(--color-gray-400); */
    --Pick-base-value-bgColor: var(--colors-brand-10);
    --Form-selectValue-onHover-bg: var(--colors-brand-9);
}

a {
    color: var(--link-color);
}

.slds-page-header__icon {
    background-color: var(--colors-brand-5);
    color: var(--color-white);
}

/* 修正手机端字体小的问题 */
@media (max-width: 767px) {

    :root {
        --button-size-default-fontSize: var(--fontSizeLg);
        --link-fontSize: var(--fontSizeLg);
        --Table-fontSize: var(--fontSizeLg);
        --Tabs--line-fontSize: var(--fontSizeLg);
        --Tabs--line-active-fontSize: var(--fontSizeLg);
        --Tabs--line-hover-fontSize: var(--fontSizeLg);
        --fieldSet-legend-fontSize: var(--fontSizeLg);
        --Pick-base-value-fontSize: var(--fontSizeLg);
        --dialog-header-fontSize: var(--fontSizeLg);
        --input-default-default-fontSize: var(--fontSizeLg);
    }
    .antd-Form .antd-Form-item input {
        font-size: var(--fontSizeLg);
        padding: 0 0.625rem 0 0.625rem;
    }
}

.steedos-header-container {
    background-color: var(--color-white);
    color: var(--color-gray-900);
    border-bottom: 1px solid var(--color-gray-200);
    --steedos-logo-color-default: var(--color-gray-600);
    .slds-icon-text-default {
        --slds-c-icon-color-foreground: var(--color-gray-600);
    }
    .slds-button_icon {
        --slds-g-color-neutral-base-50: var(--color-gray-600);
    }
    .lb-inbox-button {
        color: var(--color-gray-600);
    }
}

.sidebar-wrapper {
    background-color: var(--color-gray-50);
    border-right: 1px solid var(--color-gray-200);
}


.steedos {
  --Menu-width--collapsed: 32px;
  --Menu-light-fontColor: var(--Layout-light-fontColor);
  --Menu-light-fontColor-onHover: var(--link-color);
  --Menu-light-fontColor-onActive: var(--color-slate-900);
  --Menu-light-active-backgroundColor: var(--color-brand-100)
  --Menu-light-backgroundColor-onHover: var(--color-slate-50);
  --Menu-light-selectedIndicator-color: transparent;
  --Nav-Item-height: 44px;
  /* --Nav-Item-height--horizontal: 2.5rem; */
  --Nav-item-borderRadius: 0.5rem;
  --Nav-item-onHover-bg: rgba(21,137,238,.1);
  --Nav-item-onActive-bg: rgba(21,137,238,.1);
  --Nav-item-onActive-color: var(--link-color);
  --Nav-Item-maxWidth--tabs: 200px;
}
.antd-Nav-Menu.antd-Nav-Menu-horizontal {
  --Menu-light-backgroundColor-onHover: rgba(151, 151, 151, 0.1);
  --Menu-light-fontColor-onHover: var(--Layout-fontColor--onHover);
}

.antd-Nav-Menu-item {
  border-radius: 0.375rem;
  margin-top: 3px;
  margin-left: 0rem;
}

.antd-Nav-Menu-collapsed 
.antd-Nav-Menu-item {
  border-radius: 0;
  margin-top: 0;
  margin-left: 0rem;
}

.antd-Nav-Menu-item-dragBar {
  left: 0px;
  height: 16px;
}

.antd-Nav-item.is-active {
  box-shadow:var(--link-color) 4px 0 0 inset;
}


.antd-Nav-Menu-submenu-arrow > svg {
  display: initial;
}

.antd-Nav-Menu-light .antd-Nav-Menu-item, .antd-Nav-Menu-light .antd-Nav-Menu-submenu-title {
  padding-right: 4px;
}

/*  nav下配置itemBadge属性后item不会自动撑开 */ 
.antd-Nav-Menu-item-wrap .antd-Badge{
  width: -webkit-fill-available;
}

.antd-Nav-Menu-item-link{
  display: flex;
  align-items: center;
  min-height:var(--Nav-Item-height);
  font-weight: 600 !important;
}


.antd-Nav-Menu .antd-Nav-Menu-submenu > .antd-Nav-Menu-submenu-title .antd-Nav-Menu-item-label {
  color: var(--color-slate-400);
  font-size: 0.75rem;
  line-height: 1rem;
}

.antd-Nav .antd-Nav-dropIndicator {
  position: absolute;
  background: gray;
  height: 0.125rem;
}

.antd-Nav-Menu-inline .antd-Nav-Menu-item-selected {
    background-color: var(--color-brand-50);
}

.antd-Nav-Menu-item-active {
  background-color: var(--color-slate-50);
}

.antd-Nav-Menu-inline .antd-Nav-Menu-item-selected::before {
    border-right: 0;
}

.antd-Nav-Menu-item-active .antd-Nav-Menu-item-label, .antd-Nav-Menu-item-active .antd-Nav-Menu-item-icon, .antd-Nav-Menu-item-active .antd-Nav-Menu-item-icon-after, .antd-Nav-Menu-item-active .antd-Nav-Menu-submenu-arrow {
    color: var(--color-slate-900);
}

.antd-Nav-Menu-item:active .antd-Nav-Menu-item-label, .antd-Nav-Menu-item:active .antd-Nav-Menu-item-icon, .antd-Nav-Menu-item:active .antd-Nav-Menu-item-icon-after, .antd-Nav-Menu-item:active .antd-Nav-Menu-submenu-arrow, .antd-Nav-Menu-submenu-title:active .antd-Nav-Menu-item-label, .antd-Nav-Menu-submenu-title:active .antd-Nav-Menu-item-icon, .antd-Nav-Menu-submenu-title:active .antd-Nav-Menu-item-icon-after, .antd-Nav-Menu-submenu-title:active .antd-Nav-Menu-submenu-arrow {
    color: var(--color-slate-900);
}

.antd-Nav-Menu-item:active, .antd-Nav-Menu-submenu-title:active {
    color: var(--color-slate-900);
}

.steedos-header-app-name {
    color: var(--color-brand-700);
}