.modal-body {
  max-height: 500px;
}
@media (max-width: 767px) {
  .modal-body {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .zoom-normal {
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    zoom: 115%;
  }
  .zoom-normal .modal {
    zoom: 85%;
    /*这里是为了兼容出现两层box嵌套的情况*/
  }
  .zoom-normal .modal .modal-header {
    zoom: 115%;
  }
  .zoom-normal .modal .modal-footer {
    zoom: 115%;
  }
  .zoom-normal .modal .modal-body {
    zoom: 115%;
  }
  .zoom-normal .modal.accounts-guide-modal .modal-dialog {
    width: 708px;
  }
}
.zoom-large {
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  zoom: 117%;
}
.zoom-large .modal {
  zoom: 80%;
  /*这里是为了兼容出现两层box嵌套的情况*/
}
.zoom-large .modal .modal-header {
  zoom: 117%;
}
.zoom-large .modal .modal-footer {
  zoom: 117%;
}
.zoom-large .modal .modal-body {
  zoom: 117%;
}
.zoom-large .modal.accounts-guide-modal .modal-dialog {
  width: 721px;
}
@media (max-width: 767px) {
  .zoom-large {
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    zoom: 130%;
  }
  .zoom-large .modal {
    zoom: 76%;
    /*这里是为了兼容出现两层box嵌套的情况*/
  }
  .zoom-large .modal .modal-header {
    zoom: 130%;
  }
  .zoom-large .modal .modal-footer {
    zoom: 130%;
  }
  .zoom-large .modal .modal-body {
    zoom: 130%;
  }
  .zoom-large .modal.accounts-guide-modal .modal-dialog {
    width: 800px;
  }
}
.zoom-extra-large {
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  zoom: 135%;
}
.zoom-extra-large .modal {
  zoom: 74%;
  /*这里是为了兼容出现两层box嵌套的情况*/
}
.zoom-extra-large .modal .modal-header {
  zoom: 135%;
}
.zoom-extra-large .modal .modal-footer {
  zoom: 135%;
}
.zoom-extra-large .modal .modal-body {
  zoom: 135%;
}
.zoom-extra-large .modal.accounts-guide-modal .modal-dialog {
  width: 811px;
}
@media (max-width: 767px) {
  .zoom-extra-large {
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    zoom: 145%;
  }
  .zoom-extra-large .modal {
    zoom: 65%;
    /*这里是为了兼容出现两层box嵌套的情况*/
  }
  .zoom-extra-large .modal .modal-header {
    zoom: 145%;
  }
  .zoom-extra-large .modal .modal-footer {
    zoom: 145%;
  }
  .zoom-extra-large .modal .modal-body {
    zoom: 145%;
  }
  .zoom-extra-large .modal.accounts-guide-modal .modal-dialog {
    width: 900px;
  }
}
/*IE11支持zoom有特别BUG需要特别定制*/
_:-ms-fullscreen .modal,
:root .zoom-large .modal {
  zoom: normal;
}
_:-ms-fullscreen .modal .modal-header,
:root .zoom-large .modal .modal-header {
  zoom: 117%;
  width: 85.2%;
}
_:-ms-fullscreen .modal .modal-footer,
:root .zoom-large .modal .modal-footer {
  zoom: 117%;
  width: 85.2%;
}
_:-ms-fullscreen .modal .modal-body,
:root .zoom-large .modal .modal-body {
  zoom: 117%;
  width: 85.2%;
}
/*IE11支持zoom有特别BUG需要特别定制*/
_:-ms-fullscreen .modal,
:root .zoom-extra-large .modal {
  zoom: 100%;
}
_:-ms-fullscreen .modal .modal-header,
:root .zoom-extra-large .modal .modal-header {
  zoom: 135%;
  width: 74%;
}
_:-ms-fullscreen .modal .modal-footer,
:root .zoom-extra-large .modal .modal-footer {
  zoom: 135%;
  width: 74%;
}
_:-ms-fullscreen .modal .modal-body,
:root .zoom-extra-large .modal .modal-body {
  zoom: 135%;
  width: 74%;
}
/*IE11 .zoom-large,.zoom-extra-large字体放大需要该样式*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    height: 100%;
  }
}
/*IE11 CSS hack*/
_:-ms-fullscreen,
:root .zoom-large,
.zoom-extra-large {
  overflow: hidden;
}
_:-ms-fullscreen .app-wrapper,
:root .zoom-large .app-wrapper,
.zoom-extra-large .app-wrapper {
  position: relative!important;
}
/*IE11 CSS hack*/
_:-ms-fullscreen,
:root .zoom-large {
  margin-right: -7px;
  margin-bottom: -7px;
}
_:-ms-fullscreen .app-wrapper,
:root .zoom-large .app-wrapper {
  width: 85.2%;
  height: 85.2%;
}
_:-ms-fullscreen.zoom-setting-item,
:root .zoom-large.zoom-setting-item {
  width: 85.2%;
  margin-bottom: 0px;
}
/*IE11 CSS hack*/
_:-ms-fullscreen,
:root .zoom-extra-large {
  margin-right: -2px;
  margin-bottom: -2px;
}
_:-ms-fullscreen .app-wrapper,
:root .zoom-extra-large .app-wrapper {
  width: 74%;
  height: 74%;
}
_:-ms-fullscreen.zoom-setting-item,
:root .zoom-extra-large.zoom-setting-item {
  width: 74%;
  margin-bottom: 0px;
}
/*字体放大时，ie11/edge上tootip箭头位置不对*/
.zoom-large .tooltip.left .tooltip-arrow,
.zoom-extra-large .tooltip.left .tooltip-arrow {
  top: 50%!important;
}
/*字体放大时，点击按钮后下方的菜单在小屏幕下显示不全*/
@media (max-width: 767px) {
  ul.dropdown-menu.dropdown-menu-right {
    width: auto;
    max-width: 200px;
  }
  ul.dropdown-menu.dropdown-menu-right .menu-item-help {
    min-width: 140px;
  }
}
