.not-found.text-center {
  position: relative;
  text-align: center;
  z-index: 3;
}
.not-found.text-center h1 {
  color: #FFFFFF;
  font-size: 180px;
  font-weight: 100;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .not-found.text-center h1 {
    font-size: 120px;
    font-weight: normal;
  }
}
.not-found.text-center h4 {
  color: #FFFFFF;
  font-weight: normal;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 20px;
}
.not-found.text-center p {
  color: #FFFFFF;
  font-size: 16px;
}
.not-found.text-center p a {
  text-decoration: underline;
  color: #c5ceff;
}
.not-found.text-center .steedos-icon {
  margin-top: 80px;
}
.not-found.text-center .steedos-icon img {
  width: 50px;
}
