/* your custom css */

.homeContainer {
  background-size: cover;
  color: white;
  padding: 80px 0;
  margin-top: -50px;
}

.homeContainer .button {
  background: #24292e;
  border-color: white;
  transition: background 0.3s, color 0.3s;
}

.homeContainer .button:hover {
  background: white;
  color: #282c34;
}

.homeContainer * {
  color: inherit;
}

.post a {
  text-decoration: underline;
}

.navigationSlider .slidingNav ul {
  /*background: #282c34;*/
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: transparent;
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a {
  opacity: .65;
}

.toc .toggleNav ul li.navListItemActive a {
  color: #0070d2;
}

.onPageNav .toc-headings > li > a.active {
  color: #0070d2;
  font-weight: initial;
}

.headerTitleWithLogo {
  white-space: nowrap;
}
  
article p img[src*="#bordered"]{
  border: 1px solid #DDD;
}

.fixedHeaderContainer {
  background: rgba(0,0,0,0.8);
}

.fixedHeaderContainer header .headerTitleWithLogo {
  font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: initial;
  font-size: 1.1em;
}

#back-to-top {
  background: rgba(0, 0, 0, 0.5);
}

.navigationSlider .slidingNav ul li a {
  font-size: 14px;
  font-size: 0.9em;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul {
    background: none;
  }
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer {
    background: rgba(0,0,0,1);
  }
  .navigationSlider .slidingNav ul {
    background: rgb(34, 34, 34);
  }
  .mainContainer {
    padding: 60px 0;
  }
  .reactNavSearchWrapper input#search_input_react {
    background-color: rgb(34, 34, 34);
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}