.admin_flow_modal .export-table-template {
  cursor: pointer;
}
.admin_flows .flow-list tr td:last-child .flow-edit {
  float: right;
  width: 30px;
  height: 20px;
  position: relative;
  visibility: hidden;
}
.admin_flows .flow-list tr td:last-child .flow-edit .btn-group {
  position: absolute;
  margin-top: -5px;
}
.admin_flows .flow-list tr td:last-child .flow-edit .btn-group .dropdown-toggle {
  padding: 4px 12px;
  float: right;
}
.admin_flows .flow-list tr td:last-child .flow-edit .btn-group .dropdown-toggle span {
  position: relative;
  top: 2px;
}
.admin_flows .flow-list tr:hover td .flow-edit {
  visibility: visible;
}
.admin_flows .flow-list .flow-list-switch {
  position: relative;
}
.admin_flows .flow-list .flow-list-switch label {
  position: absolute;
}
.admin_flows .flow-list .flow-list-switch .weui-switch-cp {
  cursor: pointer;
}
.admin_flows .flow-list .weui-switch-cp__box {
  zoom: 0.60;
}
.admin_flows .flow-list .filter-span {
  display: inline-block;
}
.admin_flows .flow-list .tabular-filter {
  position: relative;
  display: inline-block;
}
.admin_flows .flow-list .tabular-filter .btn-group {
  position: absolute;
  top: -18px;
}
.admin_flows .flow-list .tabular-filter .btn-group .dropdown-toggle {
  display: inline-block;
  padding: 4px 8px;
}
.admin_flows .flow-list .tabular-filter .btn-group .dropdown-menu a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1;
}
.admin_flows .flow-list .tabular-filter .btn-group .dropdown-menu a label {
  font-weight: 400;
  cursor: pointer;
}
.admin_flows .flow-list .tabular-filter .btn-group .dropdown-menu input {
  position: relative;
  top: 3px;
  margin-right: 6px;
}
.admin_flows .flow-list .tabular-filter .ion {
  font-size: 100%;
  color: lightgrey;
}
.admin_flows .flow-list .tabular-filter .btn-group.open .dropdown-toggle {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.admin_flows .flow-list .tabular-filter.enabled .ion {
  color: #04be02;
}
