.sweet-alert h2 {
  margin: 10px 0px;
}
.sweet-alert .sa-icon {
  margin: 10px auto;
}
.sweet-alert .sa-button-container {
  margin: auto;
  display: inline-block;
}
.sweet-alert .sa-button-container button {
  font-size: 14px;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .sweet-alert .sa-button-container button {
    padding: 10px 15px;
  }
}
.sweet-alert .sa-button-container .sa-confirm-button-container {
  float: left;
}
.sweet-alert .sa-button-container .cancel {
  float: right;
}
