.modal-body {
  max-height: 500px;
}
@media (max-width: 767px) {
  .modal-body {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .zoom-normal {
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    zoom: 115%;
  }
  .zoom-normal .modal {
    zoom: 85%;
    /*这里是为了兼容出现两层box嵌套的情况*/
  }
  .zoom-normal .modal .modal-header {
    zoom: 115%;
  }
  .zoom-normal .modal .modal-footer {
    zoom: 115%;
  }
  .zoom-normal .modal .modal-body {
    zoom: 115%;
  }
  .zoom-normal .modal.accounts-guide-modal .modal-dialog {
    width: 708px;
  }
}
@media (max-width: 767px) {
  .zoom-large {
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    zoom: 115%;
  }
  .zoom-large .modal {
    zoom: 85%;
    /*这里是为了兼容出现两层box嵌套的情况*/
  }
  .zoom-large .modal .modal-header {
    zoom: 115%;
  }
  .zoom-large .modal .modal-footer {
    zoom: 115%;
  }
  .zoom-large .modal .modal-body {
    zoom: 115%;
  }
  .zoom-large .modal.accounts-guide-modal .modal-dialog {
    width: 708px;
  }
}
@media (max-width: 767px) {
  .zoom-extra-large {
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    zoom: 115%;
  }
  .zoom-extra-large .modal {
    zoom: 85%;
    /*这里是为了兼容出现两层box嵌套的情况*/
  }
  .zoom-extra-large .modal .modal-header {
    zoom: 115%;
  }
  .zoom-extra-large .modal .modal-footer {
    zoom: 115%;
  }
  .zoom-extra-large .modal .modal-body {
    zoom: 115%;
  }
  .zoom-extra-large .modal.accounts-guide-modal .modal-dialog {
    width: 708px;
  }
}
/*IE11 .zoom-large,.zoom-extra-large字体放大需要该样式*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    height: 100%;
  }
}
/*字体放大时，点击按钮后下方的菜单在小屏幕下显示不全*/
@media (max-width: 767px) {
  ul.dropdown-menu.dropdown-menu-right {
    width: auto;
    max-width: 200px;
  }
  ul.dropdown-menu.dropdown-menu-right .menu-item-help {
    min-width: 140px;
  }
}
