.gridSidebarContainer.dx-treeview{
    .dx-treeview-node{
        .dx-treeview-item-content{
            .dx-icon{
                height: 18px;
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
    [aria-level="1"] > .dx-treeview-item {
        padding-left: 20px;
    }
}