.dx-datagrid-content .dx-datagrid-table .dx-row>td {
    padding: 4px 8px 4px 8px;
    vertical-align: middle;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    padding: 7px;
    background-color: #fafaf9;
    color: #514f4d;
}