.gridSidebarContainer.dx-treeview{
    .dx-treeview-node{
        .dx-treeview-item-content{
            .dx-icon{
                height: 18px;
                font-size: 18px;
                line-height: 18px;
            }
            .creator-table-actions{
                display: inline-block;
                float: right;
            }
        }
    }
    [aria-level="1"] > .dx-treeview-item {
        padding-left: 20px;
    }
    &.creator-grid-sidebar-sites-container{
        padding-bottom: 30px;
    }
}
.creator-grid-sidebar-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
    padding: 0;
    border-top: solid 1px #dee0e3;
    height: auto!important;
    background: #fff;
    .slds-button.btn-new-site{
        width: 100%;
        border-radius: 0;
        border: none;
        justify-content: left;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}