.steedos {

	.steedos-brand-band {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		height: 100%;
		width: 100%;
		.slds-page-header {
			.crm-header-icon {
				display: block;
				border-radius: .125rem;
			}
			.crm-header-icon .uiImage {
				display: inherit;
			}

			h1.crm-header-title {
				font-size: 16px;
				position: relative;
			}
			.crm-breadcrumb-item spab {
				font-size: 13px;
			}

			.crm-header-menu {
				font-size: 0.8125rem;
				font-weight: normal;
			}
		}

		.test-listViewManager {
			height: 100%;
			.table-grid-content {
				height: 100%;
				.tale-content {
					overflow: auto;
					width: 100%;
				}
				.table-creator {
					margin-top: 0px !important;
				}
			}
		}
	}

}
