.steedos {

	.steedos-brand-band {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		height: 100%;
		width: 100%;
		.slds-page-header {
			.crm-header-icon {
				display: block;
				border-radius: .125rem;
			}
			.crm-header-icon .uiImage {
				display: inherit;
			}

			h1.crm-header-title {
				font-size: 16px;
				position: relative;
			}
			.crm-breadcrumb-item span {
				font-size: 13px;
			}

			.crm-header-menu {
				font-size: 0.8125rem;
				font-weight: normal;
			}
		}

		.test-listViewManager {
			height: 100%;
			.forceListViewManagerHeader {
				.slds-button {
					cursor: pointer;
				}
			}
			.list-view-controls {
				.slds-text-title--caps {
					font-size: 14px;
				}
			}
			.table-grid-content {
				height: 100%;
				.tale-content {
					width: 100%;
					height: 100%;
					min-height: 200px;
					padding-top: 0;
					padding-bottom: 2px;
					border-bottom-right-radius: 6px;
					border-bottom-left-radius: 6px;
				
					& > div {
						overflow: auto;
    					height: 100%;
					}

					.dataTable {
						width: auto;
						margin-top: 0 !important;
						border-top: none !important;
						td:not(:first-child) {
							padding: 5px 8px 4px 8px;
						}
						.creator_table_cell {
							line-height: 1.25rem;
						}
						th.slds-is-sortable {
							.slds-is-sortable__icon {
								display: inline-block;
								fill-opacity: 0;
							}
						}
						th.slds-is-sortable:hover,
						th.slds-is-sortable:focus {
							.slds-is-sortable__icon {
								fill-opacity: 1;
							}
						}
					}
				}
				.table-creator {
					margin-top: 0px !important;
				}
			}
		}

		.filter-list {
			width: 321px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.40);
			overflow: auto;
			position: relative;
			z-index: 1;

			.slds-filters__header {
				-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
				justify-content: space-between;
			}

			h2.slds-align-middle {
				font-weight: 300;
				line-height: 1.875rem;
			}

			h3.slds-text-body_small {
				font-weight: 400;
				font-size: .8125rem;
				line-height: 1.5;
			}

			.slds-filters__footer {
				padding: 0.5rem 0.75rem;
			}
		}
	}

	.slds-card{
		.slds-card__body{
			margin-bottom: 5px;
		}
		.slds-table{
			tr:nth-last-child(1), tr:nth-last-child(2), tr:nth-last-child(3) {
				.dropdown-menu{
					bottom: 100%;
					top: auto;
				}
			}
		}
	}
	
	.slds-table+.dataTables_paginate{
		float: left;
    	margin-left: 1.5rem;
	}

	.list-table-container{
		.dataTables_wrapper {
			.dataTable {
				table-layout: fixed;
			}
			.JCLRgrip {
				.JColResizer {
					top: 1px;
					height: 70vh;
				}
			}
		}
		.dataTable thead {
			& > tr > th.sorting_asc,
			& > tr > th.sorting_desc,
			& > tr > th.sorting,
			& > tr > td.sorting_asc,
			& > tr > td.sorting_desc,
			& > tr > td.sorting {
				padding-right: 0px;
				& > a {
					padding-right: 30px;
				}
			}
	
			.sorting:after,
			.sorting_asc:after,
			.sorting_desc:after,
			.sorting_asc_disabled:after,
			.sorting_desc_disabled:after {
				display: none;
				bottom: 4px;
			}
		}

		.dataTable {
			thead > tr > th {
				position: relative;
				.slds-th__action {
					margin-bottom: 1px;
				}
			}
		} 
	}
}


.td-cell-wrap {
	table {
		td {
			white-space: normal;

			.slds-truncate {
				overflow-wrap: break-word;
				word-wrap: break-word;
				word-break: break-all;
				white-space: normal;
			}
		}
	}
}