.steedos {

	.steedos-brand-band {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		position: relative;
		height: 100%;
		width: 100%;
		.slds-page-header {
			.forceEntityIcon {
				display: block;
				border-radius: .125rem;
			}
			.forceEntityIcon .uiImage {
				display: inherit;
			}

			h1.crm-header-title {
				font-size: 1.125rem;
				position: relative;
			}

			.crm-header-menu {
				font-size: 0.8125rem;
				font-weight: normal;
			}
		}

		.slds-table {
			width: 100%;
		}

		.test-listViewManager {
			height: 100%;
			.table-grid-content {
				height: 100%;
				.table-creator {
					margin-top: 0px !important;
				}
			}
		}
	}

}
