.reportsReportPage {
	.pageBody {
		.scrollarea {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			#jsreport {
				flex: 1;
				iframe {
					width: 100%;
					height: 100%;
					min-width: auto;
					border: none;
					background: transparent;
				}
			}
			.creator-report-empty{
				display: flex;
				flex: 1;
				padding: 15px;
			}
		}
	}
}

/** 解决jsreport报表在客户端显示不全 **/
.reportsReportPage{
	.pageBody {
		.scrollarea {
			#jsreport {
				position: relative;
				iframe {
					position: absolute;
				}
			}
		}
	}
}