.creator_view {
	.actionsContainer {
		.crm-fill-icon {
			fill: currentColor;
		}
	}

	.creator-view-tabs_default {
		padding: 15px;
		overflow: auto;
	}

	.creator-view-tabs-content {
		.related-object-tabular {
			.related-object-tabular-container {
				padding-left: 0;
				padding-right: 0;

				.dataTable {
					td:not(:first-child) {
						padding: 8px;
					}
				}
			}
		}
	}
}