.creator-calendar .dx-scheduler-header {
  border-top: 0px;
}
.creator-calendar .dx-scheduler-group-table {
  width: auto;
}
.dx-scheduler-appointment-tooltip-titles .dx-scheduler-appointment-tooltip-title {
  font-size: 100%;
  font-weight: normal;
  text-align: left;
}
.dx-scheduler-appointment-tooltip-titles .dx-scheduler-appointment-tooltip-title a {
  color: #03a9f4;
}
.dx-context-menu .item-badge {
  text-align: center;
  float: left;
  margin-right: 12px;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 19.5px;
  border-radius: 18px;
  margin-top: 2px;
}
