.filter-list-container .filter-list {
  width: 321px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  overflow: auto;
  position: relative;
  z-index: 1;
}
.filter-list-container .filter-list .slds-form {
  background: #f3f2f2;
}
.filter-list-container .filter-list .slds-form .slds-filters {
  background: #fff;
}
.filter-list-container .filter-list .slds-form .slds-filters .slds-filters__header {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.filter-list-container .filter-list .slds-form .slds-filters h2.slds-align-middle {
  font-weight: 300;
  line-height: 1.875rem;
}
.filter-list-container .filter-list .slds-form .slds-filters h3.slds-text-body_small {
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.5;
}
.filter-list-container .filter-list .slds-form .slds-filters .slds-filters__footer {
  padding: 0.5rem 0.75rem;
}
.filter-list-container .filter-list .slds-form .slds-filters .bodyTitle {
  color: #706e6b;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1.5;
  padding-bottom: .5rem;
  padding-left: 0.75rem;
}
.filter-list-container .filter-list .slds-form .slds-filters .showNumbers {
  margin-left: 25px;
}
.filter-list-container .filter-list .slds-form .slds-filters .showNumbers .filter-item {
  list-style-type: decimal;
  padding-left: 0;
}
.filter-list-container .filter-logic-title {
  display: block;
  overflow: hidden;
}
.filter-list-container .filter-logic-title .title {
  float: left;
}
.filter-list-container .filter-logic-title .logic-info {
  float: left;
  color: #706e6b;
}
.filter-list-container .filter-logic-title .remove_filter_logic {
  float: right;
  color: #0070d2;
}
.filter-list-container .filter-logic-title .add_filter_logic {
  color: #0070d2;
}
.btn-filter-list.filtering:before,
.btn-toggle-filter.filtering:before {
  content: " ";
  border: 4px solid red;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  top: 4px;
  right: 0;
  margin-right: 4px;
}
.leftNav {
  background-color: #ffffff;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 200px;
  position: relative;
  border-top: 1px solid #dddbda;
  border-left: 1px solid #dddbda;
  border-bottom: 1px solid #dddbda;
  margin-left: 1em;
  overflow: auto;
}
.slds-navigation-list-vertical .slds-is-active .slds-navigation-list-vertical__action,
.slds-navigation-list-vertical .slds-is-active .slds-navigation-list--vertical__action,
.slds-navigation-list--vertical .slds-is-active .slds-navigation-list-vertical__action,
.slds-navigation-list--vertical .slds-is-active .slds-navigation-list--vertical__action {
  background-color: rgba(0, 112, 210, 0.1);
  border-color: #dddbda;
  border-left-color: #005fb2;
  color: #000000;
}
.slds-col.sidebar-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
.slds-col.sidebar-open > .list-table-container {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.slds-col.sidebar-open > .list-table-container.list-table-sidebar {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #e0e5ee;
  border-bottom-right-radius: 0px !important;
}
.slds-col.sidebar-open > .list-table-container.list-table-sidebar .dx-scrollable-content {
  padding-bottom: 20px;
}
.slds-col.sidebar-open > .list-table-container.list-table-sidebar ~ .list-table-container {
  border-bottom-left-radius: 0px !important;
}
/*start=====处理客户端grid列表高度问题，客户端高度计算有bug，会造成grid列表底部显示不全，进而造成看不到底部水平滚动条======*/
@media (min-width: 767px) {
  .filter-list-wraper.creator-grid-wrap > .weui-flex {
    height: calc(100% - 100px) !important;
  }
  .filter-list-wraper.creator-grid-wrap > .weui-flex > .table-grid-content > .slds-col {
    height: 100%;
  }
  .filter-list-wraper.creator-grid-wrap > .weui-flex .dx-datagrid .dx-scrollable-customizable-scrollbars {
    height: calc(100% - 76px) !important;
  }
}
/*end===========*/
/*start=====处理客户端日历高度问题======*/
@media (min-width: 767px) {
  .filter-list-wraper.creator-calendar-wrap > .weui-flex {
    height: calc(100% - 68px) !important;
  }
  .filter-list-wraper.creator-calendar-wrap > .weui-flex > .table-grid-content > .slds-col {
    height: 100%;
  }
  .filter-list-wraper.creator-calendar-wrap > .weui-flex > .table-grid-content > .slds-col > .list-table-container > .creator-calendar > .slds-grid > .slds-col {
    height: 100%;
  }
  .filter-list-wraper.creator-calendar-wrap > .weui-flex .dx-scheduler-scrollable-fixed-content {
    height: 100%;
    min-height: 700px;
    overflow: hidden !important;
    width: 100%;
  }
}
/*end===========*/
