.creator-modal .slds-modal__container {
  width: auto;
  max-width: 100%;
}
.creator-modal .slds-modal__container .forceDuelingLists {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.creator-modal .slds-modal__container .forceDuelingLists .listContainer {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: 180px;
}
.creator-modal .slds-modal__container .forceDuelingLists .listContainer .slds-form-element__label {
  margin-bottom: .25rem;
  padding-bottom: .5rem;
  margin-right: 0;
}
.creator-modal .slds-modal__container .forceDuelingLists .listContainer .column-select {
  height: 200px;
  width: 100%;
  padding: 0;
  overflow: scroll;
}
.creator-modal .slds-modal__container .forceDuelingLists .actionsContainer {
  text-align: center;
  margin: 0 .5rem 0 .5rem;
}
.creator-modal .slds-modal__container .forceDuelingLists .actionsContainer .uiButton--icon-container {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: .75rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: #0070d2;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.05s linear, background-color 0.05s linear;
  transition: color 0.05s linear, background-color 0.05s linear;
  text-align: center;
  vertical-align: middle;
}
.creator-modal .slds-modal__container .forceDuelingLists .actionsContainer .uiButton--icon-container .slds-icon {
  fill: #706e6b;
}
.creator-modal .slds-modal__container .forceDuelingLists .actionsContainer .actionSeparator {
  margin-bottom: 1rem;
}
