#standQueryModal .container-vis {
  overflow: visible !important;
}
.standard-query-modal .view-page-section-row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.standard-query-modal .view-page-section-row .to:last-child {
  display: none;
}
.standard-query-modal .view-page-section-row .view-page-block-item .form-group .control-label {
  min-width: 1px;
  height: 20px;
  font-size: 0.8125rem;
}
.standard-query-modal .view-page-section-row .view-page-block-item .form-group .form-control {
  font-size: 0.875rem;
}
.standard-query-modal .view-page-section-row .to + .view-page-block-item .form-control {
  margin-top: 21px;
}
.standard-query-modal .modal-lg {
  width: 1000px;
}
.standard-query-modal .modal-lg .dx-texteditor-input {
  font-size: 14px;
  padding-right: 12px !important;
}
.standard-query-modal .modal-lg .range-fields {
  width: 50%;
}
.standard-query-modal .modal-lg .range-fields .dx-datebox-calendar {
  padding-left: 4px;
  padding-right: 4px;
}
.standard-query-modal .modal-lg .range-fields .view-page-block-item.range {
  padding-right: 0px;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
.standard-query-modal .modal-lg .range-fields .view-page-block-item.range .control-label {
  width: 42.25%;
}
.standard-query-modal .modal-lg .range-fields .view-page-block-item.range .col-sm-9 {
  width: 57.75%;
  padding-right: 5px;
  padding-left: 9px;
}
.standard-query-modal .modal-lg .range-fields .to + .view-page-block-item {
  padding-left: 0px;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.standard-query-modal .modal-lg .range-fields .to + .view-page-block-item .control-label {
  width: 21px;
  padding-right: 0px;
  padding-left: 0px;
  display: none;
}
.standard-query-modal .modal-lg .range-fields .to + .view-page-block-item .col-sm-9 {
  padding-left: 5px;
  width: 100%;
}
.standard-query-modal .modal-lg .wide-fields .col-sm-3 {
  width: 12.176914778856526% !important;
}
.standard-query-modal .modal-lg .wide-fields .col-sm-9 {
  width: 87.82308522114347% !important;
}
@media (max-width: 767px) {
  .standard-query-modal .slds-p-around--medium,
  .standard-query-modal .slds-p-around_medium {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .standard-query-modal .steedos-lookups .steedos-lookups-input {
    height: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
  }
}
