.iframe-layout {
  height: 100%;
  overflow-y: hidden;
}
.iframe-layout .steedos {
  height: 100%;
}
.iframe-layout #main_iframe {
  margin: 0px;
  margin-top: 50px;
  border: none;
}
.iframe-loading .loadingOverlay {
  top: 50px;
}
