.antd-Collapse .antd-Form--normal{
    display: grid!important;
    grid-template-columns: repeat(2,minmax(0,1fr))!important;
    grid-row-gap: 1rem!important;
    row-gap: 1rem!important;
    grid-column-gap: 1.5rem!important;
    -moz-column-gap: 1.5rem!important;
    column-gap: 1.5rem!important;
}

.antd-Collapse .antd-Form--horizontal{
    display: grid!important;
    grid-template-columns: repeat(2,minmax(0,1fr))!important;
    grid-row-gap: 1rem!important;
    row-gap: 1rem!important;
    grid-column-gap: 1.5rem!important;
    -moz-column-gap: 1.5rem!important;
    column-gap: 1.5rem!important;
}

.amis-scope svg.icon{
    display: inline !important;
    vertical-align: initial !important;
}

.ant-modal-root .amis-scope .antd-Panel-footerWrap{
    position: sticky;
    width: 100%;
    bottom: 0px;
    background: #ffffff
}

.amis-scope .antd-Modal-content{
    max-height: calc(100vh - 100px);
}

.amis-scope .antd-Modal-content .antd-Modal-body{
    height: calc(100% - 108px);
    overflow: auto;
}

.amis-scope .antd-Select-option > label {
    display: block;
    min-width: 100px;
}