datasources:
  default:
    connection:
      url: ${MONGO_URL}
    objectFiles: 
      - "./src/**"
public:
  cfs:
    store: "local"
    local:
      folder: "./storage"

cron:
  instancerecordqueue_interval: 10000
plugins:
  - "@steedos/accounts"
webservices:
  steedos: /
tenant: 
  _id: 