# Initial Steedos Packages
STEEDOS_INITIAL_PACKAGES=

# Secrets
MINIO_ROOT_USER=steedos
MINIO_ROOT_PASSWORD=steedos123
MINIO_DEFAULT_BUCKETS=steedos
MONGODB_ROOT_PASSWORD=steedos
MONGODB_DATABASE=steedos
MONGODB_REPLICA_SET_NAME=steedos
MONGODB_REPLICA_SET_KEY=steedos
REDIS_PASSWORD=steedos
NATS_USERNAME=steedos
NATS_PASSWORD=steedos
NODE_RED_USERNAME=steedos
NODE_RED_PASSWORD=steedos