.main-header .navbar-nav-apps {
  width: calc(100% - 336px);
  height: 50px;
}
@media (max-width: 1024px) {
  .main-header .navbar-nav-apps {
    width: calc(100% - 228px);
  }
}
.main-header .navbar-nav-apps a {
  cursor: pointer;
}
.main-header .edit-space {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 30px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  display: none;
}
.main-header .edit-space .ion {
  color: #ffffff;
  padding-top: 2px;
  display: block;
}
.main-header .logo:hover .edit-space {
  display: block;
}
.main-header .menu-app-link {
  cursor: pointer;
}
.sidebar-collapse .edit-space {
  display: none !important;
}
