.creator_view {
  /*chatter view*/
  /*chatter view end*/
}
.creator_view .actionsContainer .slds-button {
  cursor: pointer;
}
.creator_view .actionsContainer .crm-fill-icon {
  fill: currentColor;
}
.creator_view .objectViewManager {
  height: auto;
}
.creator_view .objectViewManager .table-grid-content {
  height: 100%;
}
.creator_view .objectViewManager .table-grid-content .creator-view-tabs_default {
  max-height: 100%;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dx-datagrid-headers {
  border-top: 1px solid #ddd;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom: 0;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th {
  position: relative;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable td:not(:first-child) {
  padding: 5px 8px 4px 8px;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable .creator_table_cell {
  line-height: 1.25rem;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th.sorting_asc,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th.sorting_desc,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th.sorting,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > td.sorting_asc,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > td.sorting_desc,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > td.sorting {
  padding-right: 0px;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th.sorting_asc > a,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th.sorting_desc > a,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > th.sorting > a,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > td.sorting_asc > a,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > td.sorting_desc > a,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead > tr > td.sorting > a {
  padding-right: 30px;
}
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead .sorting:after,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead .sorting_asc:after,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead .sorting_desc:after,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead .sorting_asc_disabled:after,
.creator_view .slds-tabs_default__content .related-object-tabular .dataTable thead .sorting_desc_disabled:after {
  display: none;
  bottom: 4px;
}
.creator_view .steedos-record_chat {
  padding: .75rem 1rem;
}
.creator_view .steedos-record_chat .slds-tabs_default__content {
  padding: 0 0;
}
.creator_view .steedos-record_chat .slds-post {
  border-top: none;
  padding: 0 0;
}
.creator_view .column {
  width: 100%;
}
.creator_view .help-info {
  display: inline-block;
  font-size: 12px;
  color: #706e6b;
  padding-left: 6px;
}
form.two-columns-form {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
form.two-columns-form .form-group {
  display: inline-block;
  width: 100%;
}
#afModal .modal-two-columns .modal-body form {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
#afModal .modal-two-columns .modal-body form .form-group {
  display: inline-block;
  width: 100%;
}
#afModal .modal-two-columns .modal-body form .form-group > .control-label {
  margin-bottom: 4px;
  width: 100%!important;
}
#afModal .modal-two-columns .modal-body form .form-group > .control-label ~ div {
  width: 100%!important;
}
#creator-quick-form {
  border-top: 1px solid #dddbda !important;
}
#creator-quick-form .slds-section__title {
  font-size: 0.8rem;
  font-weight: inherit;
}
#creator-quick-form .slds-truncate.fulltext {
  white-space: normal;
}
#creator-quick-form .view-page-section-row {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#creator-quick-form .view-page-section-row .slds-p-vertical_xx-small,
#creator-quick-form .view-page-section-row .slds-p-vertical--xx-small {
  padding-top: 0px;
  padding-bottom: 0px;
}
.input-file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0;
  top: 0px;
  left: 0px;
  z-index: 100;
  cursor: pointer;
  overflow: hidden;
}
