# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/.DS_Store

**/node_modules

.npmrc
.yarnrc
**/npm-error.log
**/yarn-error.log
**/lerna-debug.log

storage
dist
logs

.env.local
.steedos