.batch-instances-modal .modal-body {
  padding: 0px;
}
.batch-instances-modal .modal-body .weui-cells {
  margin-top: 0px;
}
.batch-instances-modal .modal-body .weui-cells span {
  font-size: 13px;
  color: #888888;
}
.batch-instances-modal .modal-body .weui-cells:before,
.batch-instances-modal .modal-body .weui-cells:after {
  display: none;
}
