
.console-g6-page {
  background-color: #fff;
  display: flex ;
  flex:1;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  .g6-graph {
    // width: calc(100% - 250px)
    // padding-left: 16px;
    margin-right: 16px;
    flex:1;
    width:0;
    height: 100%;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height:  100%;
      }
    }
  }

  .g6-info {
    width: 50px;
  }

  .g6-modelnavi {
    width: 270px;
    margin-bottom: 16px;
    height: 100%;

    


    .console-models-tree {
      overflow: hidden;
      display: flex ;
      flex-direction: column;
      padding-bottom: 78px;

      height: 100%;
      margin-right: 25px;
     
      .header {
        height: 56px;
      }

      .navitree-warp {
        flex: 1;
        // overflow-y: scroll;
        display: flex;
        flex-direction:column;
        // margin-top: 8px;
        // margin-bottom: 24px;
        height: 100%;
        margin-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      .console-erd-search {
        margin-top: 3px;
        // height:35px;
        margin-bottom: 4px;
      //  float: right;
        // margin-right: 30px;
        margin-left: 10px;
        display: flex;
        .console-erd-add {
          font-size: 20px;
          // margin-right: 25px;
          color: rgba(0,0,0,0.40);
          cursor: pointer;
            margin-left: 5px;
        }
      }
      // .header {
      //   // height: 50px;
      //   // border-bottom:1px solid rgba(0, 0, 0, 0.1);
      // }


      .console-models-tree-tree{
         flex:1;
        //  overflow: hidden;
         padding-right: 5px;
         .ant-tree-treenode {
           width: 100%;
         }

         .ant-tree-node-selected {
            .tree-node-title {
              color: white;
              background-color: rgba(11,108,149,1);
            }
            background-color:rgba(11,108,149,1);
         }
       
        //  div.ant-tree-treenode:hover {
        //   background-color: red;
        // }
      }



   }

  }

}


