@media print {
  .instance-print * {
    color: inherit !important;
  }
  .instance-print .table-page-body .form-group,
  .instance-print .table-page-footer .form-group {
    color: black !important;
  }
  .instance-print .table-page-body .instance-sign,
  .instance-print .table-page-footer .instance-sign {
    color: black !important;
  }
  .instance-print .instance-table .form-table .td-title.is-required:after {
    color: red !important;
  }
  .box-tools button {
    display: none;
  }
  .instance-traces .box-body {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }
  a[href]:after {
    content: "" !important;
  }
  a,
  a:visited {
    text-decoration: none !important;
  }
  .table-bordered {
    border: 1px solid #000 !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #000 !important;
  }
  .table-bordered th {
    border-bottom: 1px solid #000 !important;
  }
  .steedos-table .checkbox,
  .steedos-table .radio {
    display: table-cell !important;
    position: static !important;
  }
  .steedos-table table {
    border-bottom: none !important;
  }
  .steedos-table .table {
    border-left: 0px !important;
    border-right: 0px !important;
    border-collapse: separate !important;
  }
  .ins_attach_version {
    display: none !important;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}
.instance-print {
  font-size: 14px;
}
.instance-print .hidden-xs {
  display: inline !important;
}
.instance-print .instance-view .instance-name {
  display: inline !important;
}
.instance-print .wrapper {
  overflow: visible;
  background: silver !important;
  position: inherit !important;
}
.instance-print .content-wrapper {
  top: 0px !important;
}
.instance-print .btn {
  border-radius: 0px;
}
.instance-print .box {
  border-radius: 0px;
  border-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.instance-print .box .box-body {
  padding: 0px;
  padding-top: 10px;
}
.instance-print .content-wrapper {
  margin-left: 0px;
  width: 700px;
  margin: 0 auto;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.instance-print .instance-table .instance-template,
.instance-print .traces_table_modal .instance-template {
  -webkit-transition: all .3s;
          transition: all .3s;
  max-width: none;
}
.instance-print .instance-table .steedos-table table thead .title,
.instance-print .traces_table_modal .steedos-table table thead .title {
  min-width: auto;
  white-space: normal;
}
.instance-print .navigation-bar .print-tool {
  padding: 6px 12px;
  float: left;
}
.instance-print .navigation-bar .print-tool .cbx-label {
  cursor: pointer;
  margin-right: 8px;
}
.instance-print .navigation-bar .print-tool .cbx-label .cbx-print {
  margin-right: 4px;
}
.instance-print .navigation-bar .print-tool .cbx-label span {
  position: relative;
  top: -1px;
}
.instance-print .instance_attachments {
  margin-top: 0px !important;
}
.instance-print .instance-traces {
  padding-left: 15px;
  padding-right: 15px;
}
.instance-print .form-control {
  min-height: 22px !important;
  text-align: left;
}
.instance-print .td-padding {
  padding: 5px 10px !important;
}
