.instance_new {
  cursor: pointer;
}
.sidebar .treeview-menu .ion {
  float: left;
}
.sidebar .treeview-menu .inbox-flow .flow-name {
  width: 135px;
  vertical-align: bottom;
}
.sidebar .treeview-menu .category-name {
  width: 125px;
  vertical-align: bottom;
}
.sidebar-collapse .sidebar .treeview-menu {
  max-height: 350px;
  overflow-y: auto;
}
.sidebar-collapse .sidebar .treeview-menu .inbxo-flow .flow-name {
  width: 115px;
}
.workflow .main-sidebar .sidebar-menu ul .active a {
  color: #0078D7 !important;
}
.workflow .main-sidebar .box-space-name {
  width: 140px !important;
  vertical-align: bottom;
}
