.typeahead-basics .twitter-typeahead {
  width: 100%;
}
.typeahead-basics .tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.typeahead-basics .tt-hint {
  color: #999999;
}
.typeahead-basics .tt-menu {
  width: 100%;
  margin: 2px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.typeahead-basics .tt-suggestion {
  padding: 2px 20px;
  line-height: 24px;
}
.typeahead-basics .tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.typeahead-basics .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.typeahead-basics .tt-suggestion p {
  margin: 0;
}
