<!--
 * @Author: yinlianghui@steedos.com
 * @Date: 2022-06-23 09:49:09
 * @LastEditors: baozhoutao@steedos.com
 * @LastEditTime: 2022-08-29 15:38:52
 * @Description: 
-->
<head>
	<style>
		body { background-color: rgba(50, 152, 242, 1.0); }
	</style>
	<meta charset="utf-8">
	<title>Steedos</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000">
	<meta name="application-name">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title">
	<!-- React，可替换为 production 包 -->
	<script src="/unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
	<!-- React DOM，可替换为 production 包 -->
	<script src="/unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
	<!-- React 向下兼容，预防物料层的依赖 -->
	<script src="/unpkg.com/prop-types@15.7.2/prop-types.js"></script>
	<!-- <script src="https://g.alicdn.com/platform/c/react15-polyfill/0.0.1/dist/index.js"></script> -->
	<!-- lodash，低代码编辑器的依赖 -->
	<script src="/unpkg.com/lodash@4.17.21/lodash.min.js"></script>
	<!-- 日期处理包，Fusion Next 的依赖 -->
	<script src="/unpkg.com/moment@2.24.0/min/moment.min.js"></script>
	<script src="/unpkg.com/marked@4.0.17/marked.min.js"></script>

	<script src="/unpkg.com/crypto-js@4.1.1/crypto-js.js"></script>

	<script src="/unpkg.com/axios@0.26.1/dist/axios.min.js"></script>
	
	<script src="/unpkg.com/d3@3.5.17/d3.min.js"></script>
	
	<script src="/unpkg.com/@steedos-builder/react@0.2.27/dist/builder-react.unpkg.js"></script>
	
	<meteor-bundled-css />

	<link rel="stylesheet" type="text/css" href="/unpkg.com/amis@1.10.2/lib/themes/antd.css">

	<script src="/unpkg.com/@steedos-ui/design-system@2.2.36/dist/design-system.umd.js"></script>
	<link rel="stylesheet" type="text/css" href="/unpkg.com/@salesforce-ux/design-system@2.17.5/assets/styles/salesforce-lightning-design-system.min.css">

	<script src="/unpkg.com/@steedos/filters@2.2.54-beta.4/dist/steedos-filters.umd.min.js"></script>
	<script src="/unpkg.com/@steedos-ui/builder-community@2.2.36/dist/builder-steedos.umd.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/unpkg.com/@steedos-ui/builder-community@2.2.36/dist/builder-steedos.umd.css">

</head>

<body class="skin-blue-light fixed steedos sidebar-mini three-columns loading">
	{{> preloadAssets}}
	<section class="loadingOverlay keyboard">
		<div class="loading-box">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<div class="loading-text">
				<a class="btn btn-default btn-reload hide" onclick="window.location.reload(true);">{{_ "loading_reload_button_title"}}</a>
			</div>
		</div>
	</section>
	<div id="root" name="root"></div>

</body>

<template name="preloadAssets">
	<link rel="icon" type="image/png" sizes="16x16" href="{{absoluteUrl '/favicons/favicon-16x16.png'}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{absoluteUrl '/favicons/favicon-32x32.png'}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{absoluteUrl '/favicons/favicon-96x96.png'}}">
	<link rel="icon" type="image/png" sizes="230x230" href="{{absoluteUrl '/favicons/favicon-230x230.png'}}">
	<link rel="shortcut icon" href="{{absoluteUrl '/favicons/favicon.ico'}}">
	<!-- <link rel="stylesheet" type="text/css" href="{{absoluteUrl '/assets/styles/steedos-tailwind.min.css'}}"> -->
	<link rel="stylesheet" type="text/css" href="{{absoluteUrl '/customize.css'}}">
</template>