.steedos.creator .creator-content-wrapper .content-wrapper {
    top: 0;
}

.steedos.creator .creator-content-wrapper .main-sidebar {
    margin-top: 0;
}

.steedos.workflow {
    .creator-list-wrapper {
        top: 50px;
    }
    
}