

/* .amis-routes-wrapper{
    width: 100%;
} */

.page-template-root{
    height: 100%;
}
/* .amis-scope svg {
    display: inline !important;
    vertical-align: initial !important;
} */

/* .row-main{
    border-radius: 0.25rem
} */

.amis-scope .a-Form-item--horizontal.col-span-2 .a-Form-itemColumn--2 {
    flex: 0 0 calc(8.33333333335% - 2px);
    max-width: calc(8.33333333335% - 2px);
}

.a-Table svg {
    display: inline !important;
    vertical-align: initial !important;
}

.ant-modal-root .amis-scope .antd-Panel-footerWrap{
    position: sticky;
    width: 100%;
    bottom: 0px;
    background: #ffffff
}

.amis-scope .antd-Modal-content{
    max-height: calc(100vh - 200px);
}

.amis-scope .antd-Modal-content .antd-Modal-body{
    height: calc(100% - 108px);
    overflow: auto;
}

.amis-scope .antd-Select-option > label {
    display: block;
    min-width: 100px;
}


/* fix checkbox 隐藏时导致滚动条异常 */
.steedos-amis-form .antd-Collapse .antd-Form--normal .antd-Checkbox input{
    position: fixed;
}

.steedos-amis-form .antd-Select-option{
    width: 100% !important;
}

@media (max-width: 768px) {
    .steedos-amis-form::before{
        border-bottom: none;
    }
    
    .ant-modal-root .amis-scope .antd-Panel-footerWrap{
        position: fixed;
    }
}

/* fix: https://github.com/baidu/amis/issues/5073 */
.antd-CBGroup-toolbar .antd-CBGroup-toolbarConditionAdd .antd-ButtonGroup>.antd-Button:first-child {
    margin-right: 1.5rem;
}

/* fix: https://github.com/steedos/steedos-platform/issues/3898 */
.ant-drawer.ant-drawer-right{
    left: auto;
}
.ant-drawer.ant-drawer-bottom{
    top: auto;
}

.steedos-amis-button.slds-truncate{
    overflow: inherit;
}

.ant-message{
    z-index: 2600;
}

.antd-Form-item.p-0{
    padding: 0;
} 

.antd-Crud .antd-Table-toolbar.antd-Table-footToolbar{
    padding: 0.75rem 0.5rem;
}
@media (max-width: 768px) {
    .antd-Crud .antd-Table-toolbar.antd-Table-footToolbar{
        padding: 0;
    }
}

.antd-Table-footToolbar .antd-Crud-toolbar .antd-Crud-toolbar-item--left:not(:first-child){
    margin-left: 0.625rem;
}

.antd-Table-footToolbar .antd-Crud-pager .antd-Pagination > li > a{
    display: block;
}

.steedos-amis-form .antd-Form-control--withSize{
    width: 100%;
}