.steedos-selectize{
	.selectize-input{
		border-radius: 0px !important;
		background-image: none !important;
		border-color: #d2d6de !important;
		box-shadow: none !important;
	}
	.selectize-dropdown{
		border-radius: 0px !important;
		background-color: #fff !important;
		overflow-y: hidden !important;
		height: 200px !important;
	}
	.selectize-dropdown-content{
		border-radius: 0px !important;
		background-color: #fff !important;
		overflow-y: hidden !important;
		max-height: initial !important;
		height: auto !important;
	}

	.selectize-control.multi .selectize-input.has-items{
		padding: 0px 0px 0px 0px !important;
	}

	.selectize-control .selectize-input.disabled{
		opacity: 1 !important;
	}

	.selectize-control.multi .selectize-input.disabled [data-value]{
		color: inherit !important;
	}

	.disabled{
		.slds-pill__remove{
			display: none;
		}
	}
}