/* CSS declarations go here */
/*#d2d6de*/
.instanceContent {
  background: #ffffff;
}
.callout.callout-default {
  border-color: #D2D6DE;
  color: gray;
  background-color: #F1F1F1;
}
.callout.callout-default h4 {
  color: #333333;
}
.callout-default a {
  color: gray;
}
.callout-default a:hover {
  color: #333;
}
.panel-controls {
  float: right;
  display: block;
  cursor: pointer;
}
.autoform-table {
  text-align: left;
  width: 100%;
  max-width: 100%;
}
.autoform-table td.field.number {
  text-align: right;
}
.font-size-h3 {
  font-size: 24px;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
.text-center {
  text-align: center;
}
.bg-info {
  padding: 15px;
}
.instance-traces > .heading {
  font-size: 17px;
}
.traces {
  font-size: 14px;
}
.traces td {
  border: none;
}
.trace-item {
  height: 30px;
  background-color: #EEEEEE;
  font-weight: bold;
  font-size: 14px;
  color: #404040;
}
.approve-item,
.approve-item-distribute {
  height: 30px;
  font-size: 13px;
  cursor: pointer;
}
.approve-item .name,
.approve-item-distribute .name {
  font-weight: bold;
}
.approve-item-distribute {
  cursor: auto !important;
}
.approve-item .red {
  color: red;
}
.approve-item .blue {
  color: blue;
}
.approve-description {
  border: none;
  height: auto;
}
.approve-description .description {
  padding-top: 0px;
  border: none;
}
.approve-description .description p {
  margin: 0px;
}
.approve-description .red {
  color: red;
}
.approve-description {
  cursor: pointer;
}
.approve-item > .name {
  font-weight: bold;
}
.approve-item > .approved,
.instance-trace-detail-modal .approved {
  color: green;
}
.approve-item > .rejected,
.instance-trace-detail-modal .rejected {
  color: red;
}
.approve-item > .description {
  border-top: 0px;
  font-size: 14px;
  white-space: pre-line;
  color: black;
}
textarea.suggestion-control {
  height: auto;
  padding-right: 30px;
}
.button-group {
  margin-bottom: 15px;
}
.button-group > .glyphicon {
  padding-left: 15px;
  font-size: 18px;
}
.suggestion-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d6de;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.suggestion-control:focus {
  border-color: #3c8dbc;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.suggestion-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.suggestion-control:-ms-input-placeholder {
  color: #999;
}
.suggestion-control::-webkit-input-placeholder {
  color: #999;
}
.suggestion-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-group.has-error .suggestion-control {
  border-color: #dd4b39;
  box-shadow: none;
}
.suggestion-control.select2-container {
  height: auto !important;
  padding: 0;
}
.suggestion-control .select2-choice {
  border: 0;
  border-radius: 2px;
}
.suggestion-control:not(select) {
  -webkit-appearance: none;
}
.suggestion-control.select2-container.select2-dropdown-open {
  border-color: #5897FB;
  border-radius: 3px 3px 0 0;
}
textarea {
  resize: none;
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
[data-required] label::after {
  content: ' *';
  color: red;
}
.instance-attachments > .heading {
  font-size: 17px;
}
.ins-upload {
  display: inline-block;
  position: relative;
}
.ins-upload .ins-file-icon {
  padding-left: 15px;
  font-size: 18px;
}
.ins-upload .ins-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0;
  top: 0px;
  left: 0px;
  z-index: 100;
  cursor: pointer;
  overflow: hidden;
}
.ins-upload .ins-file-version-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 1px;
  z-index: 100;
  cursor: pointer;
}
.ins-applicant-selector {
  display: inline-block;
  width: 160px;
}
.ins-modal {
  -webkit-border-radius: 4px;
}
.ins-attach-view .delete {
  cursor: pointer;
  display: none;
  margin-left: 10px;
}
.ins-attach-view .mouse-hover {
  cursor: pointer;
  display: none;
  margin-left: 10px;
}
.ins-attach-view a {
  color: #3c8dbc;
}
.ins-attach-view a:hover {
  text-decoration: underline;
}
.ins-attach-view:hover .delete {
  display: inline-block;
}
.ins-attach-view:hover .mouse-hover {
  display: inline-block;
}
.ins-attach-version-view {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.ins-attach-version-view .delete {
  cursor: pointer;
  display: none;
  margin-left: 10px;
}
.ins-attach-version-view .mouse-hover {
  cursor: pointer;
  display: none;
  margin-left: 10px;
}
.ins-attach-version-view a:hover {
  text-decoration: underline;
}
.ins-attach-version-view:hover .delete {
  display: inline-block;
}
.ins-attach-version-view:hover .mouse-hover {
  display: inline-block;
}
.form-group .select2 {
  width: 100% !important;
}
.selectUser[readonly],
.selectOrg[readonly] {
  background-color: #FFFFFF !important;
}
.inbox .selectUser[readonly],
.draft .selectUser[readonly],
.inbox .selectOrg[readonly],
.draft .selectOrg[readonly] {
  background-color: rgba(255, 255, 0, 0.1) !important;
}
.inbox .selectUser[disabled],
.draft .selectUser[disabled],
.inbox .selectOrg[disabled],
.draft .selectOrg[disabled] {
  background-color: #FFFFFF !important;
}
.selectUser[disabled],
.selectOrg[disabled] {
  background-color: #FFFFFF !important;
}
.cfTextarea[disabled],
.cfTextarea[readonly] {
  height: 100%;
  min-height: 60px;
  word-wrap: break-word;
  word-break: keep-all;
}
.steedos-table-modal-body .form-control {
  background-color: rgba(255, 255, 0, 0.03) !important;
}
.steedos-table-modal-body .form-control[disabled],
.steedos-table-modal-body .form-control[readonly],
.steedos-table-modal-body fieldset[disabled] .form-control {
  background-color: #FFFFFF;
  opacity: 1;
  color: black;
}
.instance-default .instance-form .form-control[disabled],
.instance-default .instance-form .form-control[readonly],
.instance-default .instance-form fieldset[disabled] .form-control {
  background-color: #FFFFFF !important;
  opacity: 1;
  color: black;
}
.instance-default .instance-form .selectUser[readonly],
.instance-default .instance-form .selectOrg[readonly] {
  background-color: rgba(255, 255, 0, 0.1) !important;
}
.instance-default .instance-form .selectUser[disabled],
.instance-default .instance-form .selectOrg[disabled] {
  background-color: #FFFFFF !important;
}
.instance-default .instance-form.inbox .form-control,
.instance-default .instance-form.draft .form-control {
  background-color: rgba(255, 255, 0, 0.03);
}
.instance-default .instance-form .field-editable {
  background-color: rgba(255, 255, 0, 0.1) !important;
}
.instance-default .instance-form .readonly-table {
  border: solid 1px #d2d6de;
}
.instance-default .instance-form .readonly-table table {
  border: none;
}
.instance-default .instance-form .readonly-table table tr td:first-of-type {
  border-left: none;
}
.instance-default .instance-form .readonly-table table tr td:last-of-type {
  border-right: none;
}
.instance p {
  margin: 0 0 0 0;
}
.instance .instance-header {
  margin-left: 15px;
  margin-bottom: 0px !important;
}
.instance .instance-header > div {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  font-weight: 400;
}
.instance .instance-form .box-body > .col-md-12 {
  padding-right: 0px;
}
.instance .instance-form .box-body form > .col-md-6:nth-child(2n) {
  clear: both;
}
@media (max-width: 768px) {
  .instance .instance-form .box-body .form-group.opinion-field {
    margin-bottom: 10px;
  }
}
.instance .instance-form .box-header {
  padding: 0px 0px;
  margin-bottom: 10px;
  margin-right: 15px;
}
.instance .instance-form .applicant-wrapper .input-group-addon {
  padding-left: 0px;
  border: none;
}
.instance .instance-form .applicant-wrapper input {
  cursor: pointer;
}
.instance .instance-form .ins_applicant {
  padding: 6px 12px;
  width: 100%;
  display: inline-block;
}
.instance .instance-form #instanceform .col-md-12 {
  padding-left: 0px;
}
.instance .instance-form #instanceform .col-md-6 {
  padding-left: 0px;
}
.instance-sign {
  border: solid 1px #d2d6de;
  padding: 5px 10px;
  color: black;
}
.instance-sign .instance-sign-content {
  min-height: 20px;
  margin-bottom: 10px;
}
.instance-sign .instance-sign-content .not-finished {
  color: #888;
}
.instance-sign .instance-sign-content .my-approve {
  border-left: solid 3px #3c8dbc;
  padding-left: 4px;
}
.instance-sign .instance-sign-text {
  clear: both;
}
.zoom-large .instance-table .bootstrap-datetimepicker-widget,
.zoom-extra-large .instance-table .bootstrap-datetimepicker-widget {
  top: inherit !important;
}
.zoom-large .instance-table td:not(:last-child) .bootstrap-datetimepicker-widget,
.zoom-extra-large .instance-table td:not(:last-child) .bootstrap-datetimepicker-widget,
.zoom-large .instance-table .bootstrap-datetimepicker-widget-left .bootstrap-datetimepicker-widget,
.zoom-extra-large .instance-table .bootstrap-datetimepicker-widget-left .bootstrap-datetimepicker-widget {
  left: inherit !important;
}
.zoom-large .instance-table td:last-child .bootstrap-datetimepicker-widget,
.zoom-extra-large .instance-table td:last-child .bootstrap-datetimepicker-widget,
.zoom-large .instance-table .bootstrap-datetimepicker-widget-right .bootstrap-datetimepicker-widget,
.zoom-extra-large .instance-table .bootstrap-datetimepicker-widget-right .bootstrap-datetimepicker-widget {
  left: auto !important;
  right: 20px !important;
}
.instance-table .instance-template,
.traces_table_modal .instance-template {
  max-width: 700px;
  margin: auto;
}
.instance-table .instance .form-group .form-control,
.traces_table_modal .instance .form-group .form-control {
  min-height: 34px;
}
.instance-table .bootstrap-datetimepicker-widget table td,
.traces_table_modal .bootstrap-datetimepicker-widget table td {
  border: none !important;
}
.instance-table .instance-form .box-body > .col-md-12,
.traces_table_modal .instance-form .box-body > .col-md-12 {
  padding-right: 15px;
}
.instance-table .instance-form .box-header,
.traces_table_modal .instance-form .box-header {
  padding: 0px;
  margin-bottom: 0px;
}
.instance-table .instance-form .table-page-footer td,
.traces_table_modal .instance-form .table-page-footer td {
  padding-left: 0px;
  padding-right: 0px;
}
.instance-table .instance-sign,
.traces_table_modal .instance-sign {
  border: 0px !important;
  padding: 0px;
}
.instance-table .opinion-field,
.traces_table_modal .opinion-field {
  padding: 5px 10px;
  background: inherit !important;
}
.instance-table .cfTextarea[disabled],
.traces_table_modal .cfTextarea[disabled],
.instance-table .cfTextarea[readonly],
.traces_table_modal .cfTextarea[readonly] {
  min-height: auto;
}
.instance-table .cfTextarea[disabled] p,
.traces_table_modal .cfTextarea[disabled] p,
.instance-table .cfTextarea[readonly] p,
.traces_table_modal .cfTextarea[readonly] p {
  margin: 0px;
}
.instance-table .attachments-list .attachments,
.traces_table_modal .attachments-list .attachments {
  margin-bottom: 0px;
}
.instance-table .box-header,
.traces_table_modal .box-header {
  text-align: center;
  font-weight: bolder;
}
.instance-table .applicant-wrapper,
.traces_table_modal .applicant-wrapper {
  margin: 0px 0px;
  text-align: left;
}
.instance-table .applicant-wrapper .form-control.ins_applicant,
.traces_table_modal .applicant-wrapper .form-control.ins_applicant {
  padding: 0px !important;
  height: 100%;
  display: inline;
  background: transparent !important;
  border: none;
  min-height: 20px !important;
}
.instance-table .help-block,
.traces_table_modal .help-block {
  display: none;
}
.instance-table .form-table,
.traces_table_modal .form-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000000;
  table-layout: fixed;
  /*子表与子表相邻时，会出现子表间没有边线的问题，这里判断并加上，由于meteor编译的问题，这里是tr标签与td标签相邻*/
}
.instance-table .form-table tbody,
.traces_table_modal .form-table tbody,
.instance-table .form-table tr,
.traces_table_modal .form-table tr {
  border-color: inherit;
}
.instance-table .form-table tr > td,
.traces_table_modal .form-table tr > td {
  position: relative;
}
.instance-table .form-table tr > td .instance-sign-text,
.traces_table_modal .form-table tr > td .instance-sign-text {
  position: absolute;
  right: 5px;
  bottom: 2px;
}
.instance-table .form-table .td-title,
.traces_table_modal .form-table .td-title {
  width: 16%;
  text-align: center;
  border: solid 1px #000000;
  border-color: inherit !important;
  padding: 6px;
  vertical-align: middle;
}
.instance-table .form-table .td-field,
.traces_table_modal .form-table .td-field {
  text-align: left;
  border: solid 1px #000000;
  border-color: inherit !important;
  padding: 6px;
  vertical-align: middle;
}
.instance-table .form-table .td-field .form-group,
.traces_table_modal .form-table .td-field .form-group {
  color: black;
}
.instance-table .form-table .td-field.readonly,
.traces_table_modal .form-table .td-field.readonly {
  background: #FFFFFF;
}
.instance-table .form-table .td-field .form-control,
.traces_table_modal .form-table .td-field .form-control {
  padding: 0;
}
.instance-table .form-table .td-childfield,
.traces_table_modal .form-table .td-childfield {
  border-top: solid 1px #000000;
  border-top-color: inherit !important;
  border-right: solid 1px #000000;
  border-right-color: inherit !important;
  border-bottom: solid 1px #000000;
  border-bottom-color: inherit !important;
  padding: 0px !important;
}
.instance-table .form-table .tr-child-table + .td-childfield,
.traces_table_modal .form-table .tr-child-table + .td-childfield {
  border-top: solid 1px #000000;
}
.instance-table .form-table select,
.traces_table_modal .form-table select,
.instance-table .form-table textarea,
.traces_table_modal .form-table textarea,
.instance-table .form-table input,
.traces_table_modal .form-table input {
  border-width: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #ffffff;
}
.instance-table .form-table select:disabled,
.traces_table_modal .form-table select:disabled,
.instance-table .form-table textarea:disabled,
.traces_table_modal .form-table textarea:disabled,
.instance-table .form-table input:disabled,
.traces_table_modal .form-table input:disabled {
  border-bottom: none;
}
.instance-table .form-table select.form-control,
.traces_table_modal .form-table select.form-control {
  padding: 0;
}
.instance-table .form-table .form-group,
.traces_table_modal .form-table .form-group {
  margin-bottom: 0px;
}
.instance-table .form-table .form-group .callout,
.traces_table_modal .form-table .form-group .callout {
  margin: 0px;
  padding: 4px 6px;
  border-radius: 0px;
  border-left: none;
}
.instance-table .form-table .form-group .callout h4,
.traces_table_modal .form-table .form-group .callout h4 {
  margin: 0px;
  padding: 0px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
}
.instance-table .form-table .form-group .form-control,
.traces_table_modal .form-table .form-group .form-control {
  border: none;
  min-height: 22px;
}
.instance-table .form-table .form-group.has-error .form-control,
.traces_table_modal .form-table .form-group.has-error .form-control {
  border-bottom: solid 1px #dd4b39;
}
.instance-table .form-table .form-group .steedos-table,
.traces_table_modal .form-table .form-group .steedos-table {
  border: 0px;
  margin-bottom: 0px;
}
.instance-table .form-table .form-group .steedos-table table,
.traces_table_modal .form-table .form-group .steedos-table table,
.instance-table .form-table .form-group .steedos-table th,
.traces_table_modal .form-table .form-group .steedos-table th,
.instance-table .form-table .form-group .steedos-table td,
.traces_table_modal .form-table .form-group .steedos-table td {
  border: solid 1px #000000;
}
.instance-table .form-table .form-group .steedos-table table,
.traces_table_modal .form-table .form-group .steedos-table table {
  border-left: none;
  border-right: none;
  border-bottom: none !important;
}
.instance-table .form-table .form-group .steedos-table th:first-child,
.traces_table_modal .form-table .form-group .steedos-table th:first-child,
.instance-table .form-table .form-group .steedos-table td:first-child,
.traces_table_modal .form-table .form-group .steedos-table td:first-child {
  border-left: 0px !important;
}
.instance-table .form-table .form-group .steedos-table th:last-child,
.traces_table_modal .form-table .form-group .steedos-table th:last-child,
.instance-table .form-table .form-group .steedos-table td:last-child,
.traces_table_modal .form-table .form-group .steedos-table td:last-child {
  border-right: 0px !important;
}
.instance-table .form-table .form-group .steedos-table .panel-heading,
.traces_table_modal .form-table .form-group .steedos-table .panel-heading {
  padding: 4px 6px;
  border: none;
}
.instance-table .form-table .form-group .steedos-table .panel-heading .pull-right,
.traces_table_modal .form-table .form-group .steedos-table .panel-heading .pull-right {
  height: 26px;
  line-height: 26px;
}
.instance-table .form-table .form-group .steedos-table .panel-heading .control-label,
.traces_table_modal .form-table .form-group .steedos-table .panel-heading .control-label {
  margin-bottom: 0px;
  height: 26px;
  line-height: 26px;
}
.instance-table .form-table .form-group .steedos-table .table-bordered,
.traces_table_modal .form-table .form-group .steedos-table .table-bordered {
  border-bottom: none;
}
.instance-table .form-table .form-group .steedos-table .table-bordered tr:last-child td,
.traces_table_modal .form-table .form-group .steedos-table .table-bordered tr:last-child td {
  border-bottom: none!important;
}
@-moz-document url-prefix() {
  .instance-table .form-table .form-group .steedos-table .table-bordered tr:last-child th,
  .traces_table_modal .form-table .form-group .steedos-table .table-bordered tr:last-child th {
    border-bottom: solid 1px #000000 !important;
  }
  .instance-table .form-table .form-group .steedos-table .table-bordered tr:last-child td,
  .traces_table_modal .form-table .form-group .steedos-table .table-bordered tr:last-child td {
    border-bottom: solid 1px #000000 !important;
  }
}
.instance-table .form-table .af-radio-group,
.traces_table_modal .form-table .af-radio-group,
.instance-table .form-table .af-checkbox-group,
.traces_table_modal .form-table .af-checkbox-group,
.instance-table .form-table .checkbox,
.traces_table_modal .form-table .checkbox {
  padding-left: 12px;
  padding-top: 6px;
}
.instance-table .form-table .form-group > .checkbox,
.traces_table_modal .form-table .form-group > .checkbox {
  vertical-align: middle;
  margin: 0px;
}
.instance-table .form-table .form-group > .checkbox label,
.traces_table_modal .form-table .form-group > .checkbox label {
  margin: 0px;
  min-height: 20px;
  line-height: 20px;
}
.instance-table .form-table .form-group > .checkbox label input,
.traces_table_modal .form-table .form-group > .checkbox label input {
  margin-top: 0px;
}
.safari .instance-table .form-table .form-group > .checkbox label input,
.safari .traces_table_modal .form-table .form-group > .checkbox label input {
  margin-top: 4px;
}
.instance-table .form-table .form-group > .af-radio-group label input,
.traces_table_modal .form-table .form-group > .af-radio-group label input,
.instance-table .form-table .form-group > .af-checkbox-group label input,
.traces_table_modal .form-table .form-group > .af-checkbox-group label input {
  margin-top: 0px;
}
.safari .instance-table .form-table .form-group > .af-radio-group label input,
.safari .traces_table_modal .form-table .form-group > .af-radio-group label input,
.safari .instance-table .form-table .form-group > .af-checkbox-group label input,
.safari .traces_table_modal .form-table .form-group > .af-checkbox-group label input {
  margin-top: 4px;
}
.instance-table .instance-traces,
.traces_table_modal .instance-traces {
  background: #fff;
}
.instance-table .instance-traces .box-header,
.traces_table_modal .instance-traces .box-header {
  padding-left: 14px;
  margin-bottom: -10px;
  font-size: 18px;
}
.instance-table .instance-traces table.traces,
.traces_table_modal .instance-traces table.traces {
  margin: 15px auto;
  background: transparent;
  border: solid 2px #000000;
}
.instance-table .instance-traces table.traces tr,
.traces_table_modal .instance-traces table.traces tr {
  background: #fff;
}
.instance-table .instance-traces table.traces td,
.traces_table_modal .instance-traces table.traces td {
  background: transparent;
  border: solid 1px #000000;
  vertical-align: middle;
  padding: 6px;
  font-weight: normal;
  font-size: 14px;
}
.instance-table .instance-traces table.traces td.td-stepname,
.traces_table_modal .instance-traces table.traces td.td-stepname {
  width: 16%;
  text-align: center;
}
.instance-table .instance-traces table.traces td.td-approve,
.traces_table_modal .instance-traces table.traces td.td-approve {
  padding: 0px;
}
.instance-table .instance-traces table.traces td table,
.traces_table_modal .instance-traces table.traces td table {
  width: 100%;
}
.instance-table .instance-traces table.traces td table tr,
.traces_table_modal .instance-traces table.traces td table tr {
  width: 100%;
  border: none;
}
.instance-table .instance-traces table.traces td table tr.approve-item,
.traces_table_modal .instance-traces table.traces td table tr.approve-item {
  border-bottom: solid 1px #000000;
}
.instance-table .instance-traces table.traces td table tr.approve-item.description,
.traces_table_modal .instance-traces table.traces td table tr.approve-item.description {
  border-bottom: none;
}
.instance-table .instance-traces table.traces td table tr.approve-item:last-child,
.traces_table_modal .instance-traces table.traces td table tr.approve-item:last-child {
  border-bottom: none;
}
.instance-table .instance-traces table.traces td table tr td,
.traces_table_modal .instance-traces table.traces td table tr td {
  text-align: left;
  border: none;
}
.instance-table .instance-traces table.traces td table tr td.name,
.traces_table_modal .instance-traces table.traces td table tr td.name {
  /*padding-left:48px;*/
  width: 40%;
  color: #333;
}
.instance-table .instance-traces table.traces td table tr td.finish-date,
.traces_table_modal .instance-traces table.traces td table tr td.finish-date {
  width: 35%;
  min-width: 140px;
  color: #333;
}
.instance-table .instance-traces table.traces td table tr td.description,
.traces_table_modal .instance-traces table.traces td table tr td.description {
  padding-top: 6px;
  padding-bottom: 0px;
  height: 100%;
}
.instance-view .instance-table .inbox .form-table .td-title.title-editable.is-required:after,
.instance-view .instance-table .draft .form-table .td-title.title-editable.is-required:after {
  content: "*";
  color: red;
}
.instance-view .instance-table .inbox .form-table .td-field.field-editable,
.instance-view .instance-table .draft .form-table .td-field.field-editable {
  background-color: rgba(255, 255, 0, 0.1) !important;
}
.instance-print .instance-table .instance-traces .box-header {
  font-size: 15px;
  padding-left: 0;
  border-bottom: 0;
}
.instance-print .instance-table .instance-traces .box-header .box-tools {
  top: 10px;
}
.instance-print .instance-table .instance-traces .box-header .box-tools .btn-box-tool {
  padding: 2px 5px 1px 5px;
}
.instance-print .instance-table .instance-traces .box-body {
  padding-top: 0;
}
.instance-print .instance-table .instance-traces .box-body table.traces {
  margin-top: 5px;
}
.radio .readonly,
.checkbox .readonly,
.af-radio-group .readonly,
.af-checkbox-group .readonly {
  padding-left: 0px;
}
.instance-form {
  margin-bottom: 0px;
  border-radius: 0px;
}
.instance-traces {
  /*border-top: 1px dashed #d2d6de !important;*/
  margin-bottom: 5px;
  border-radius: 0px;
}
.instance-traces .box-header .box-title {
  margin-left: 5px;
}
.touch .instance-traces table.traces {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.instance-traces .cc-label {
  color: #333;
  font-weight: 400;
  display: initial;
  border-radius: 12px;
  margin-left: 4px;
}
.instance-traces .cc-label .cc-approve-remove {
  margin-left: 4px;
}
.instance-traces .selected .cc-label {
  color: #FFFFFF;
  font-weight: 400;
  padding-left: 5px;
  display: initial;
}
.instance-traces .cc-approve-remove {
  padding: 0px;
  color: #97a0b3 !important;
  cursor: pointer;
}
.instance-traces .cc-approve-remove .ion {
  font-size: 90%;
}
.instance-traces .cc-approve-remove:hover {
  color: #606c84 !important;
}
.instance .form-group .form-control {
  height: 100%!important;
  min-height: 32px;
  word-break: break-all;
  padding-top: 5px;
  padding-bottom: 6px;
  vertical-align: middle;
}
/*CSS-Hack for Internet Explorer 11 only edge浏览器垂直居中*/
_:-ms-fullscreen,
:root .instance .form-group .form-control {
  padding-top: 6px;
}
/*CSS-Hack for Microsoft Edge Browser 12+浏览器垂直居中*/
_:-ms-lang(x),
_:-webkit-full-screen,
.instance .form-group .form-control {
  padding-top: 6px;
}
.instance-table.instance .form-group .form-control {
  padding-top: 0;
  padding-bottom: 0;
}
.instance .form-group input[type=datetime-local].form-control,
.instance .form-group input[type=date].form-control {
  height: 32px;
}
.instance .form-group .af-radio-group,
.af-checkbox-group {
  /*min-height: 34px;*/
  min-height: 22px;
}
.instance .form-group > .checkbox {
  min-height: 22px;
  line-height: 22px;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 6px;
}
.instance .form-group > .af-radio-group,
.instance .form-group > .af-checkbox-group {
  padding-left: 0px;
  padding-top: 0px;
}
.mobile-safari .instance .form-group > .checkbox label,
.mobile-safari .steedos-table-modal .form-group > .checkbox label,
.mobile-safari .instance .form-group > .af-radio-group label,
.mobile-safari .steedos-table-modal .form-group > .af-radio-group label,
.mobile-safari .instance .form-group > .af-checkbox-group label,
.mobile-safari .steedos-table-modal .form-group > .af-checkbox-group label {
  line-height: 25px;
}
.android .steedos-table-modal .form-group > .checkbox label {
  line-height: 25px;
}
/*CSS-Hack for Microsoft Edge Browser 12+ edge浏览器垂直居中*/
_:-ms-lang(x) label,
_:-webkit-full-screen label,
.instance.instance-table .form-group > .checkbox label,
.instance.instance-table .form-group > .af-radio-group label,
.instance.instance-table .form-group > .af-checkbox-group label {
  line-height: 22px;
}
/*CSS-Hack for Internet Explorer 11 only edge浏览器垂直居中*/
_:-ms-fullscreen label,
:root .instance .form-group > .checkbox label {
  line-height: 20px;
}
.instance .instance_attachments {
  padding-left: 0px;
  padding-right: 15px;
}
.instance-table .instance_attachments {
  padding-left: 0px;
  padding-right: 0px;
}
.instance-to-attachment label {
  font-weight: 400;
  cursor: pointer;
}
.image-sign {
  max-width: 180px;
  max-height: 90px;
}
.instance-sign-text {
  text-align: right;
}
.instance-sign-text .instance-sign-text-btn,
.instance-sign-text .instance-sign-opinion-btn {
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.instance-suggestion #instance_flow_opinions,
.instance-suggestion .instance-sign-opinion-btn {
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.instance-suggestion #instance_next .instance-suggestion-next-steps {
  min-height: 36px;
}
.instance-suggestion #instance_next .instance-suggestion-next-steps .ion-ios-paperplane-outline {
  padding-left: 5px;
}
.instance-view .instance-name {
  text-align: center;
  margin-bottom: 15px;
}
.instance-view .instance-name .box-title {
  font-size: 20px;
}
.instance-view .instance-table-name-td {
  padding-bottom: 10px;
}
.no-border {
  border: 0px !important;
}
.no-border td {
  border: 0px !important;
}
.border-right {
  border-right: solid 1px red !important;
  border-color: inherit !important;
}
.border-right-none {
  border-right: 0px !important;
}
.border-right-none td:last-child {
  border-right: 0px !important;
}
.border-left {
  border-left: solid 1px red !important;
  border-color: inherit !important;
}
.border-left-none {
  border-left: 0px !important;
}
.border-left-none td:first-child {
  border-left: 0px !important;
}
.border-top {
  border-top: solid 1px red !important;
  border-color: inherit !important;
}
.border-top-none {
  border-top: 0px !important;
}
.border-top-none tr:first-child td {
  border-top: 0px !important;
}
.border-bottom {
  border-bottom: solid 1px red !important;
  border-color: inherit !important;
}
.border-bottom-none {
  border-bottom: 0px !important;
}
.border-bottom-none tr:last-child td {
  border-bottom: 0px !important;
}
.nowrap {
  white-space: nowrap;
}
.verticle-mode {
  writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  letter-spacing: 12px;
  padding-top: 12px !important;
  height: 140px;
}
.verticle-mode label {
  display: inline;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
}
.td-center {
  vertical-align: middle !important;
  text-align: center;
}
.inline-left {
  display: inline;
  float: left;
}
.inline-right {
  display: inline;
  float: right;
}
.font-color-red {
  color: red !important;
}
.font-color-black {
  color: black !important;
}
.border-color-red {
  border-color: red !important;
}
.border-color-black {
  border-color: black !important;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.font-weight-bold {
  font-weight: bold;
}
.instance-template tr:nth-child(2) td {
  border-top: 0px !important;
}
.instance-template .section {
  color: inherit !important;
}
.instance-template .section .control-label {
  color: inherit !important;
}
.instance-template .form-table td {
  border-width: 1px;
  border-style: solid !important;
  border-color: inherit !important;
}
.instance-template td {
  vertical-align: top;
  padding: 5px 10px;
}
.instance-template td label {
  color: inherit;
  margin-bottom: 0px;
  font-weight: normal;
}
.instance-template .form-group[disabled],
.instance-template .form-control[disabled] {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: none;
  padding: 0px;
}
.instance-template input {
  font-size: inherit;
  padding: 0px;
  min-height: 22px !important;
  font-weight: inherit;
}
.instance-template textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0px;
}
.instance-template select {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}
.instance-template .td-childfield > .form-group {
  color: inherit;
}
.instance-template .form-group {
  color: black;
}
.instance-template .applicant-wrapper .form-control {
  color: black !important;
}
.instance-template .instance-title,
.instance-template .page-title,
.instance-template .instance-title .form-group,
.instance-template .page-title .form-group {
  color: inherit;
  text-align: inherit;
  font-weight: bold;
  font-size: 20px;
}
.instance-template .instance-title .form-control,
.instance-template .page-title .form-control,
.instance-template .instance-title .form-group .form-control,
.instance-template .page-title .form-group .form-control {
  text-align: inherit;
  font-weight: bold;
  font-size: 20px;
}
.instance-template .instance-title .form-group,
.instance-template .page-title .form-group,
.instance-template .instance-title .form-group .form-group,
.instance-template .page-title .form-group .form-group {
  text-align: center;
  text-align: -webkit-center;
}
.instance-template .instance-title select,
.instance-template .page-title select,
.instance-template .instance-title .form-group select,
.instance-template .page-title .form-group select {
  height: 41px !important;
  max-width: 600px;
  margin: 0px auto;
}
.instance-template .instance-title input,
.instance-template .page-title input,
.instance-template .instance-title .form-group input,
.instance-template .page-title .form-group input {
  min-height: 41px !important;
}
.instance-template .form-control {
  font-size: inherit;
  color: inherit !important;
  background-color: transparent !important;
}
.ins-opinion-modal .btn-new-opinion {
  cursor: pointer;
  background: #fff;
}
.ins-opinion-modal .btn-new-opinion:hover,
.ins-opinion-modal .btn-new-opinion:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
.ins-opinion-modal .list-group {
  margin-bottom: 15px;
}
.ins-opinion-modal .list-group .list-group-item {
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.ins-opinion-modal .list-group .list-group-item .btn-sm {
  margin: -5px -2px;
}
.ins-opinion-modal .list-group .list-group-item .pull-right {
  margin-right: -8px;
}
.ins-opinion-modal .list-group:last-child .list-group-item:last-child {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.related-instances .related-instances-item a {
  color: #3c8dbc;
  cursor: pointer;
}
.related-instances .related-instances-item .ins-related-delete {
  margin-left: 10px;
}
.related-instances .related-instances-item a:hover {
  text-decoration: underline;
}
