.instance-pick_approve_users .title th {
  font-weight: bold;
  border: solid 1px #000000;
}
.instance-pick_approve_users .title .step {
  text-align: center;
}
.instance-pick_approve_users .title .approves {
  padding-left: 13px;
}
.instance-pick_approve_users .step-item .td-step-approves .form-group {
  margin-bottom: 0px;
}
.instance-pick_approve_users .step-item .td-step-approves .form-group .control-label {
  display: none;
}
.instance-pick_approve_users .stepName {
  text-align: center;
}
.instance-pick_approve_users .action {
  width: 50px;
  text-align: center;
}
.instance-pick_approve_users .td-step-check {
  width: 80px;
  text-align: center;
}
.instance-pick_approve_users .td-step-approves {
  background-color: rgba(255, 255, 0, 0.1) !important;
}
.instance-pick_approve_users .td-step-approves .checkbox-inline label {
  font-weight: 400;
}
.instance-pick_approve_users .td-step-approves .radio-inline label {
  font-weight: 400;
}
.instance-pick_approve_users .selectUser-box {
  line-height: 28px !important;
  border: none !important;
  background-color: inherit !important;
}
