html {
    height: 100%;
}

body {    
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(./images/background.jpg);
    background-size: cover;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

#logo {
    width: 100%;
    height: auto;
    max-width: 320px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}