@media only screen and (min-height: 1200px) {
	#wrapper {
	   padding-top: 400px;
	}
}
@media only screen and (max-height: 1200px) {
    #wrapper {
        padding-top: 350px;
    }
}
@media only screen and (max-height: 1000px) {
    #wrapper {
        padding-top: 250px;
    }
}
@media only screen and (max-height: 900px) {
    #wrapper {
        padding-top: 200px;
    }
}
@media only screen and (max-height: 736px) {
    #wrapper {
        padding-top: 150px;
    }
}
@media only screen and (max-height: 670px) {
    #wrapper {
        padding-top: 100px;
    }
}
@media only screen and (max-height: 610px) {
	#wrapper {
	   padding-top: 40px;
	}
}

@media only screen and (max-width: 480px) {
  #container {
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;
  }
}