#mobile_apps_modal .slds-modal__content {
  padding: 0;
  background: #efeff4;
}
#mobile_apps_modal .weui-grids {
  background: #fff;
}
#mobile_apps_modal .weui-grids .weui-grid__icon {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}
#mobile_apps_modal .weui-grids .grid-active:after {
  border-bottom: 3px solid #145dbf;
}
#mobile_apps_modal .weui-cells {
  margin-top: 0;
}
#mobile_apps_modal .weui-cells:before {
  display: none;
}
#mobile_apps_modal .weui-cells .weui-cell__hd {
  margin-right: 10px;
}
