.flexcontainer,
.flexcontainer .markdownContent,
.flexcontainer .markdownPreview   {
  display: flex;
}

.flexcontainer .markdownPreview {
  flex-direction: column;
}

.flexcontainer .markdownPreview .preview,
.flexcontainer .markdownContent textarea {
  flex: 1;
}

.markdownControls {
  margin-bottom: 10px;
  text-align: left;
}

.markdownControls a {
  margin-left: 10px;
}
.markdownControls  select.form-control {
  width: auto;
  display: inline-block;
}
.markdownControls select, button {
  margin-right: 10px;
}
.markdownControls button.markdownBold {
  font-weight: bold;
}
.markdownControls button.markdownItalic {
    font-style: italic;
}

.markdownContent, .markdownPreview {
  width: 50%;
  min-height: 150px;
  display: inline-block;
}


.markdownContent {
  float: left;
}
.markdownContent .markdownInput {
  min-height: 150px;
  resize: vertical;
  overflow: auto;
}

.panel .markdownContent.translatable img {
  right: -100%;
}

.markdownPreview {
  padding-left: 10px;
  text-align: left;
}
.markdownPreview  span.preview {
    background-color: #eee;
    display: block;
    min-height: 150px;
    height: 100%;
    padding-right: 35px;
}
